.whole-section {
  background: #fff;
}

.new-page-container .panel {
  border: 0;
}

.section-intro {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.blue_head_title {
  color: #2998c0;
  font-size: 36px;
}

.sub_text {
  font-size: 17px;
  margin-bottom: 10px;
}

.discovery-tiles {
  margin-top: 15px;
}

.discovery-card {
  background-color: #f5f5f5;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 344px;
  margin-bottom: 25px;
  overflow: hidden;
}

.titleContainerdiscovery {
  background: rgba(0, 0, 0, 0)
    linear-gradient(transparent 0, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0 !important;
  bottom: 0 !important;
  color: #fff !important;
  font-size: 19px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  margin: 0 !important;
  padding: 8px 16px 14px !important;
  position: absolute !important;
  text-shadow: 0 2px 1em #000 !important;
  width: 100% !important;
}

.half .discovery-card {
  height: 160px;
}
.discovery-card .hover-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 0 20px 20px;
  height: 100%;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  background-color: #ff8882;
}
.discovery-card:hover .hover-info {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.discovery-card .location-title {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-family: "Courgette", cursive;
}
.discovery-card .h2 {
  font-family: "Courgette", cursive;
}
.discovery-card .hover-info .price {
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0;
}
.discovery-card .hover-info .search-in-location {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 2;
  text-align: center;
  color: #fff;
}
.columnn-foot {
  padding: 40px 30px 0 !important;
  min-height: 170px;
  max-height: 200px;
  border-left: 1px solid #dce0e0 !important;
}

.columnn-foot:first-child {
  border-left: 0 solid #dce0e0 !important;
}

.iconContainer {
  display: table;
  float: left;
  margin: 0 24px 0 auto;
}

.textContainer {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.columnHeader {
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  margin-bottom: 10px !important;
}

.content-font {
  font-size: 13px;
  font-weight: bold;
}

.content-font a {
  color: #008489;
}
