.p1 .makent-header {
  height: 68px;
  background: transparent;
}
.logo_white {
  display: none;
}
.logo_dark {
  display: block;
}
.p1 .logo_white {
  display: block;
}
.p1 .logo_dark {
  display: none;
}
.p1 .makent-header.darkHeader {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}
.p1 .makent-header.darkHeader .logo_white {
  display: none;
}
.p1 .makent-header.darkHeader .logo_dark {
  display: block;
}
.darkHeader.makent-header .nav li a {
  color: #565a5c;
}
.btn-primary.btn {
  background-color: #fff;
  border-color: #ff8882;
  color: #ff8882;
  min-width: 150px;
  border: 2px solid;
}
.home_bg {
  background-image: url("../images/top_banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_inner {
  padding: 30px 30px;
}
.clicked_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.search-box {
  overflow-y: auto;
  max-height: 300px;
  background: #fff;
  padding: 0;
  position: absolute;
  z-index: 9999;
  right: 0;
  left: 0;
  min-height: 300px;
  top: 81px;
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search-box strong {
  display: block;
  background: #ff8882;
  padding: 15px 15px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.search-box ul {
  text-align: left;
  padding-left: 0;
}
.search-box ul li {
  font-size: 16px;
  color: #191919;
  padding: 15px 15px;
  cursor: pointer;
  font-weight: 400;
  border-bottom: none;
  list-style: none;
}
.search-box ul li:hover {
  background: #f7f7f7;
}
.search-box ul li i.fa {
  margin-right: 5px;
  font-size: 20px;
}
/* #exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
} */
.discovery-nav-pills {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.nav-pills > li > a {
  border-radius: 0;
  color: #888;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 10px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #ff8882;
  background: #fff;
  border-bottom: 2px solid;
}

.divider_1qenmrf {
  border: 0 !important;
  border-top-width: 0;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid #dbdbdb !important;
  margin: 16px 0 !important;
  height: 0 !important;
}
#guests {
  border: 0;
  font-size: 14px;
}

.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
  width: 100% !important;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

.textHeader_8yxs9w {
  font-size: 48px !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff !important;
  font-weight: 600 !important;
  min-width: 100%;
  font-family: "Courgette", cursive;
}

.textHeaderTitle_153t78d-o_O-textHeader_rausch_hp6jb4 {
  font-weight: 700 !important;
  color: #fff !important;
}

.container_e4p5a8 {
  display: block !important;
}

.container_1tvwao0 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  border-radius: 4px !important;

  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.14) !important;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.14) !important;
  padding: 0 !important;
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
  position: relative !important;
}

.container_1tvwao0::before {
  content: " " !important;
  display: table !important;
}

.container_mv0xzc {
  display: table-cell !important;
  vertical-align: middle !important;
  position: relative !important;
  -webkit-transition: width 0.3s !important;
  -moz-transition: width 0.3s !important;
  transition: width 0.3s !important;
  background: #fff;
}

.label_1om3jpt {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  display: block !important;
  margin-left: 16px !important;
  margin-top: 16px !important;
}

.largeGeocomplete_1g20x4k {
  margin-top: -3px !important;
  margin-left: 5px !important;
}

.container_gor68n {
  position: relative !important;
  z-index: 1 !important;
}

.container_e296pg {
  position: relative !important;
}

.container_36rlri-o_O-block_r99te6 {
  display: block !important;
  width: 100% !important;
}

.label_hidden_1m8bb6v {
  position: absolute !important;
  display: block !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

.container_ssgg6h-o_O-container_noMargins_18e9acw-o_O-borderless_mflkgb-o_O-block_r99te6 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #fff !important;
  border-radius: 2px !important;
  background-color: #fff !important;
  margin-bottom: 0 !important;
  position: relative !important;
  z-index: 0 !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: block !important;
  width: 100% !important;
}

.inputContainer_178faes {
  overflow: hidden !important;
  position: relative !important;
}

.input_70aky9-o_O-input_book_f17nnd-o_O-input_ellipsis_1bgueul-o_O-input_defaultPlaceholder_jsyynz {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  line-height: 0px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848 !important;
  font-weight: normal !important;
  background-color: transparent !important;
  border: 0 !important;
  padding: 8px 11px !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
}

.focusUnderline_7131v4 {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 2px !important;
  background: #00a699 !important;
  -webkit-transition: opacity 0.3s !important;
  -moz-transition: opacity 0.3s !important;
  transition: opacity 0.3s !important;
  opacity: 0 !important;
  z-index: 1 !important;
}

.container_mv0xzc-o_O-borderLeft_1ujj4hk-o_O-borderRight_1x9yfnn {
  display: table-cell !important;
  vertical-align: middle !important;
  position: relative !important;
  -webkit-transition: width 0.3s !important;
  -moz-transition: width 0.3s !important;
  transition: width 0.3s !important;
  border-left: 1px solid #e4e4e4 !important;
  border-right: 1px solid #e4e4e4 !important;
  background: #fff;
}

.webcot-lg-datepicker {
  white-space: nowrap;
}

.dateRangePicker_e296pg-o_O-hidden_ajz5vs {
  position: absolute !important;
  opacity: 0 !important;
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerDiv {
  padding: 0 8px;
}

.webcot-lg-datepicker .DateRangePickerDiv {
  font-size: 15px;
  position: static;
}

.DateRangePickerDiv {
  position: relative;
  display: inline-block;
}

.webcot-lg-datepicker .DateRangePickerInput {
  white-space: nowrap;
  border: 0;
  width: 100%;
}

.DateRangePickerInput {
  background-color: #fff;
  border: 1px solid #cacccd;
  display: inline-block;
}

.webcot-lg-datepicker .DateInput {
  width: auto;
  padding: 0;
}

.DateInput {
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
  margin: 0;
  padding: 8px;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}

.DateInput__input {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateInput__display-text,
.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerInput__arrow {
  font-size: 19px;
  line-height: 22px;
}

.webcot-lg-datepicker .DateInput__display-text,
.webcot-lg-datepicker .DateRangePickerInput__arrow {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.DateInput__display-text {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateInput__display-text,
.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerInput__arrow {
  font-size: 14px;
  line-height: 8px;
}

.webcot-lg-datepicker .DateRangePickerInput__arrow {
  color: #767676;
}

.webcot-lg-datepicker .DateInput__display-text,
.webcot-lg-datepicker .DateRangePickerInput__arrow {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.DateRangePickerInput__arrow {
  display: inline-block;
  vertical-align: middle;
}

.icon_12hl23n {
  color: #767676 !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  color: #484848 !important;
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  background: #fff !important;
  border: 0 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline !important;
  text-align: left !important;
  padding: 11px 12px !important;
  position: relative !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  outline: none !important;
}

.chevron_ki52l6 {
  color: #484848 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  margin-left: 16px !important;
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
  font-size: 17px !important;
  line-height: 17px !important;
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  color: #484848 !important;
  cursor: pointer !important;
  text-align: left !important;
  white-space: nowrap !important;
}

.copy_14aozyc-o_O-copy_fakePlaceholder_10k87om {
  color: #767676 !important;
  margin-left: 8px !important;
  vertical-align: middle !important;
}

.searchButton_n8fchz {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 15px !important;
  letter-spacing: undefined !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #fff !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
  border-radius: 4px !important;
  border: 0 !important;
  background: #ff8882 !important;
  margin: 9px !important;
  margin-top: 14px !important;
  margin-left: 16px !important;
  height: 48px !important;
  text-align: center !important;
  display: inline-block !important;
  float: right !important;
  width: 156px;
}

.container_1tvwao0::after {
  content: " " !important;
  display: table !important;
  clear: both;
}

ul.home-menu {
  border-bottom: 1px solid #e4e4e4 !important;
  overflow: hidden;
  padding: 0;
  margin-top: 30px;
}

ul.home-menu li {
  float: left;
  list-style: none;
}

ul.home-menu li a {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.4px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #484848 !important;
  background-color: transparent !important;
  border-width: 0 !important;
  border-bottom-width: 0;
  border-bottom: 2px solid transparent !important;
  bottom: -1px !important;
  cursor: pointer !important;
  display: inline-block !important;
  margin: 0 16px 0 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

ul.home-menu li a.current {
  border-bottom: 2px solid #008489 !important;
  color: #008489 !important;
  -webkit-transition-property: color !important;
  -moz-transition-property: color !important;
  transition-property: color !important;
  -webkit-transition-duration: 300ms !important;
  transition-duration: 300ms !important;
  -webkit-transition-timing-function: ease-out !important;
  transition-timing-function: ease-out !important;
}

.searchBarWrapper_1aq8p3r {
  display: block !important;
  padding-top: 32px !important;
  padding-bottom: 8px !important;
}

.button_1b5aaxl {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  background: #fff !important;
  border: 0 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline !important;
  text-align: left !important;
  padding: 11px 12px !important;
  position: relative !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  outline: none !important;
}

.icon_12hl23n {
  color: #767676 !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

svg:not(:root) {
  overflow: hidden;
}

.copy_14aozyc {
  color: #484848 !important;
  margin-left: 8px !important;
  vertical-align: middle !important;
}

.panel-drop-down {
  pointer-events: auto !important;
  background-color: #fff !important;
  border-top: 1px solid #dbdbdb !important;
  box-shadow: 0 0 2px 0 rgba(22, 22, 22, 0.2) !important;
  height: auto !important;
  overflow-y: hidden !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform !important;
  border-bottom: 1px solid #dbdbdb !important;
}

.panel-drop-down.hide-drop-down {
  top: -250px !important;
}

.panelContent_1jzf86v {
  -webkit-overflow-scrolling: touch !important;
  overflow-y: auto !important;
}

.container_gvf938-o_O-container_dropdown_bed46g {
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 0 !important;
  display: table !important;
  vertical-align: top !important;
  width: 100% !important;
  border-bottom: none !important;
}

.left_egy8rd {
  display: table-cell !important;
  text-align: left !important;
  vertical-align: middle !important;
  width: 30% !important;
}

.container_1rp5252 {
  cursor: pointer !important;
  background-color: transparent !important;
  color: buttontext !important;
  border: 0 !important;
  display: block !important;
}

.right_8ydhe {
  display: table-cell !important;
  text-align: right !important;
  vertical-align: middle !important;
  width: 30% !important;
}

.text_5mbkop-o_O-size_small_1gg2mc {
  font-weight: normal !important;
  color: #484848 !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  margin: 0 !important;
  word-wrap: break-word !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.component_9w5i1l-o_O-component_button_r8o91c {
  color: #008489 !important;
  font: inherit !important;
  font-family: inherit;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  text-decoration: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: 0 !important;
  cursor: pointer !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

.body_1sn4o6s-o_O-body_dropdown_7xdft6 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 20px !important;
}

.button_1b5aaxl-o_O-button_border_hu7ym7-o_O-button_large_c3pob4 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  background: #fff !important;
  border: 1px solid #e4e4e4 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline !important;
  text-align: left !important;
  padding: 11px 12px !important;
  position: relative !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  outline: none !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) !important;
}

.icon_12hl23n {
  color: #767676 !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.home-bx-slider .bx-wrapper img {
  max-width: 100%;
  display: block;
  height: 220px !important;
  object-fit: cover;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.home-bx-slider .bx-wrapper .bx-viewport {
  box-shadow: none !important;
  border: 0 !important;
  left: 0 !important;
  background: transparent !important;
}

.bx-wrapper {
  box-shadow: none;
  border: 0;
  background: #fff;
  width: 100% !important;
  max-width: unset !important;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: none !important;
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

.home-bx-slider .bx-wrapper .bx-prev {
  left: -45px;
  background: url("../images/left-slider-arrow.png");
  background-repeat: no-repeat;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-arrow-next {
  background: url(../images/right-slider-arrow.png);
  position: absolute;
  top: 55%;
  right: -30px;
  text-indent: -9999;
  width: 30px;
  height: 30px;
}

.rowHeader {
  font-size: 22px !important;
  line-height: 28px !important;
  letter-spacing: -0.2px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #484848 !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

.seeMoreContainer_11b8zgn {
  padding-bottom: 22px !important;
}

.button_ops1o9-o_O-text_13lu1ne-o_O-button_flushRight_s5eog0 {
  border: none !important;
  cursor: pointer !important;
  background: transparent !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  padding-right: 0 !important;
  padding-left: 10px !important;
  white-space: nowrap !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: undefined !important;
  color: #484848 !important;
  margin-right: 0 !important;
}

.text_13lu1ne {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848 !important;
  margin-right: 6px !important;
}

.bx-arrow-prev {
  background: url(../images/left-slider-arrow.png);
  position: absolute;
  top: 55%;
  left: -30px;
  text-indent: -9999;
  width: 30px;
  height: 30px;
}

.home-bx-slider .bx-wrapper .bx-next {
  right: -45px;
  background: url("../images/right-slider-arrow.png") !important;
  background-repeat: no-repeat;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.home-bx-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50% !important;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 999;
}

.icon-star,
.icon-star-alt,
.thread-star {
  color: #008489 !important;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}

.container-brand-dark {
  padding: 50px 0;
  background-image: none !important;
  background-color: #ff8882 !important;
  color: #fff !important;
  border-top: 1px solid #dce0e0;
}

.selectboxit-container .selectboxit {
  padding: 12px 7px 5px 7px !important;
  height: 45px;
}

.selectboxit-btn,
.selectboxit-list {
  background-color: #fff;
  border: 1px solid #dce0e0 !important;
  color: #484848 !important;
}

.selectboxit-btn.selectboxit-open {
  border: 1px solid #008489 !important;
}

.foot-column {
  margin: 0 auto;
  width: 51%;
}

.link-contrast.footer-icon-container:hover {
  text-decoration: none !important;
}

.selectboxit-list .selectboxit-option-anchor {
  color: #484848 !important;
}

.link-contrast {
  font-weight: bold;
  line-height: 25px;
}

.link-contrast:hover,
.link-contrast:focus,
.link-contrast:active {
  text-decoration: underline !important;
}

.selectboxit-default-arrow {
  width: 30px;
  height: 30px;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  font-size: 20px !important;
  background: url(../images/down-slider-arrow.png);
  float: right;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-top: -6px !important;
}

span.pull-left.r-label.ng-binding {
  font-size: 12px;
  text-transform: lowercase;
  margin-top: 3px;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: #fff !important;
}

.selectboxit-arrow-container {
  width: 30px;
  margin-top: 0 !important;
}

.half-big .discovery-card {
  height: 220px;
}

.half-small .discovery-card {
  height: 200px;
}

.bx-arrow-prev.disabled {
  display: none !important;
}

.bx-arrow-next.disabled {
  display: none !important;
}

.lazy-load-div {
  padding: 0;
  direction: ltr !important;
}

.lazy-load-div.lazy-load {
  max-height: 100px;
  overflow: hidden;
}

.lazy-load::after {
  content: " " !important;
  background: url("../images/dot_loading.gif") center center no-repeat #fff;
  background-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1128px) {
  .button_1b5aaxl-o_O-button_large_c3pob4 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif !important;
    font-size: 14px !important;
    line-height: 8px !important;
    letter-spacing: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 1100px) {
  .page-container-responsive {
    width: 100%;
    max-width: 1280px;
  }
}

@media (min-width: 760px) {
  .pad-sm-20 {
    padding-top: 20px;
  }
  body.remove-pos-fix.pos-fix {
    position: relative !important;
  }
}

@media (min-width: 1020px) and (max-width: 1099px) {
  .page-container-responsive {
    width: 855px;
  }
  .foot-column {
    width: 70%;
  }
  .columnn-foot {
    min-height: 200px !important;
  }
}

@media (min-width: 760px) and (max-width: 1019px) {
  .columnn-foot {
    min-height: 260px !important;
  }
  .foot-column {
    width: 80%;
  }
}

@media (min-width: 760px) and (max-width: 1099px) {
  .half-small .discovery-card,
  .half-big .discovery-card {
    height: 160px !important;
  }
  .textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
    width: 70% !important;
  }
  .textHeader_8yxs9w {
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .gst_icon {
    width: auto;
    background-position: right center;
  }
  .searchButton_n8fchz {
    font-size: 15px !important;
    line-height: 15px !important;
    padding: 10px 12px 8px !important;
    margin: 24px 5px 0 !important;
    height: auto !important;
  }
}

@media (max-width: 760px) {
  .columnContentContainer {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .half-small .discovery-card,
  .half-big .discovery-card {
    height: 160px !important;
  }
  .columnn-foot .iconContainer,
  .columnn-foot .textContainer {
    display: unset !important;
    float: none !important;
    margin: 0 !important;
    text-align: center;
  }
  .columnn-foot .iconContainer svg {
    margin-bottom: 15px;
  }
  .container-brand-dark {
    margin-top: 10px !important;
  }
  .footer-container.container-brand-dark {
    margin-top: 0 !important;
    display: block !important;
  }
  .columnn-foot {
    padding: 0 0 0 !important;
    min-height: unset !important;
    max-height: unset !important;
    border-left: 0 !important;
    border-top: 0 solid #dce0e0 !important;
  }
  .columnn-foot .columnContentContainer {
    border-left: 0 solid #dce0e0 !important;
    border-top: 1px solid #dce0e0 !important;
    padding: 60px 0;
  }
  .float-none-sm {
    float: none !important;
    text-align: center !important;
  }
  .columnn-foot:first-child {
    border-top: 0 solid #dce0e0 !important;
  }
  .columnn-foot:first-child .columnContentContainer {
    border-top: 0 solid #dce0e0 !important;
  }
  .textHeader_8yxs9w {
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: -0.6px !important;
  }
  .home-bx-slider .bx-wrapper .bx-controls-direction a {
    top: 56% !important;
  }
  .home-bx-slider .bx-wrapper .bx-next {
    right: -33px !important;
    background-size: 25px !important;
  }
  .home-bx-slider .bx-wrapper .bx-prev {
    left: -25px !important;
    background-size: 25px !important;
  }
  .bx-arrow-next {
    top: 59% !important;
    right: -13px !important;
    width: 24px !important;
    background-size: 23px;
  }
  .bx-arrow-prev {
    top: 59% !important;
    left: -13px !important;
    width: 24px !important;
    background-size: 23px;
  }
  ul.home-menu li a {
    font-size: 11px !important;
    margin: 0 10px 0 0 !important;
  }
  .no-mar-sm {
    margin-top: 0 !important;
  }
  .textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
    margin-top: 0 !important;
  }
  .mini-rel-top {
    position: relative;
    top: 55px;
  }
  .textHeader_8yxs9w {
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: -0.6px !important;
  }
  .textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
    width: 100% !important;
  }
  .background {
    display: none !important;
  }
  .foreground {
    margin-bottom: 7px;
  }
}
.recommended_properties_main {
  padding: 30px 0;
}
.recommended_properties_main .title_section {
  margin-bottom: 30px;
}
.properties_slider ul li img {
  /* height: 405px;
  width: 100%;
  object-fit: cover; */
}

.content_caption_p {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Property List  */
.top_search_area {
  margin-bottom: 0;
  background: #ff8882;
  margin-top: -6px;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}
.top_search_area.isFixed {
  position: fixed;
  z-index: 1;
  top: 0;
}
.top_search_area.isFixed .main_inner {
  padding: 15px 30px;
}
.top_search_area div#discovery-container {
  position: relative;
  width: 100%;
}

.top_search_area .form-col-12 {
  padding-left: 0;
  padding-right: 0;
}
.top_detail_area {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 20px;
}
.total_count_properties h4 {
  font-size: 30px;
}
.property_list .ui.items > .item {
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #fff;
  border-radius: 4px;
}

.property_list .ui.items > .item > .image > img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 190px;
}

.property_list .ui.items > .item > .content {
  padding: 15px 15px;
}
.property_list .ui.items > .item > .content a.header {
  font-size: 1.28571429em;
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  margin: -0.21425em 0 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.has_b_left {
  border-left: 1px solid #ddd;
}
.view_types ul li {
  display: inline;
  background: #fff;
  padding: 10px 15px;
  margin: 0 0 0 10px;
  font-size: 18px;
}

.property_list .ui.items > .item .extra {
  padding: 5px 0 5px;
  top: inherit;
  border-top: 1px solid #ddd;
  bottom: -80px;
}
.property_list .ui.items > .item .extra ul {
  list-style: none;

  margin: 0;
  padding: 0;
}
.property_list .ui.items > .item .extra ul li {
  display: inline;
  font-size: 20px;
  padding: 0 5px 0 0;
  color: #ff8882;
}
.property_list .ui.items > .item > .image:not(.ui) {
  width: 260px;
}
.filter_main {
  background: #fff;
}
.rooms_beds .minus,
.rooms_beds .plus {
  width: 35px;
  height: 35px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.rooms_beds input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.rooms_beds {
  padding: 0 20px;
  margin-top: 15px;
}
.filter_main h4 {
  font-weight: 600;
}
.bedrooms_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bedrooms_main .number {
  margin-bottom: 15px;
}
.filter_main {
  background: #fff;
}
.filter_main .example .noUi-horizontal {
  margin-bottom: 25px;
}
.filter_main .slider_main_range {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
}
.filter_main .col-middle-alt .checkbox.panel.panel-dark {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
}
.filter_main #room-options .col-middle-alt {
  margin-bottom: 0;
}
.filter_main .room-type {
  left: 30px;
  top: 5px;
}

.filter_main .hosting_amenities .checkbox.panel,
.filter_main .property_type_id .checkbox.panel {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.filter_main .hosting_amenities .checkbox.panel .amenities {
  left: 25px;
  top: 5px;
}
.filter_main .property_type_id .checkbox.panel .property_type {
  left: 25px;
  top: 5px;
}
.filter_main .filters-section {
  border-top: 0;
}

.view_types {
  display: none;
}
.right_options .btn-primary.btn {
  min-width: auto;
}
.property_list .col-md-3.has_b_left {
  display: flex;
  justify-content: center;
}
.advanace_options_main {
  padding-top: 25px;
}
.checkbox label,
.radio label {
  padding-left: 25px;
  line-height: 30px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-left: -25px;
}

.add_p_table {
  margin-top: 30px;
}
.add_p_table thead th {
  font-size: 18px;
}
/* .add_p_table thead th:first-child {
  width: 235px;
} */
.add_p_table .extra-person-price-editor-header {
  margin-bottom: 40px;
}
.min_width100 {
  min-width: 100% !important;
}
.last-minute-editor-header,
.length-of-stay-editor-header {
  margin-bottom: 40px;
}
#occupancy_box {
  display: none;
}

.save_next_btn {
  display: inherit;
  margin: 0 auto;
}
