.toggle-switch {
  background-color: #82888a;
  border: 1px solid #82888a;
  cursor: pointer;
  font-size: 28px;
  height: 36px;
  width: 72px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.toggle-switch--on {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.toggle-switch--on .toggle-switch__button {
  left: 35px;
}
.toggle-switch--on .toggle-switch__icon {
  color: #ff5a5f;
}
.toggle-switch__button {
  background-color: #fff;
  border: 0;
  left: 0;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 35px;
  height: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
}
.toggle-switch__icon {
  color: #82888a;
  position: relative;
  top: -3px;
}
.toggle-switch--beach.toggle-switch--on {
  background-color: #ffb400;
  border-color: #ffb400;
}
.toggle-switch--beach.toggle-switch--on .toggle-switch__icon {
  color: #ffb400;
}
.ib-toggle {
  cursor: pointer;
  margin-right: 18px;
  padding: 15px 0 5px 0;
}
.ib-tooltip .panel {
  border: 0;
}
#prohost-tooltip h4 {
  margin-top: 0;
}
.active-panel-header,
.active-panel-padding {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ib-switch-label {
  font-size: 14px;
  padding: 14px 20px;
}
.ib-master-switch-alert {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.ib-master-switch-alert.slide-down {
  max-height: 300px;
}
.listing .media-photo-block {
  height: 63px;
}
.suspension-container {
  position: relative;
}
.suspension-overlay {
  width: 100%;
  height: 100%;
}

.btn-primary.btn {
  background-color: #fff;
  border-color: #ff8882;
  color: #ff8882;
  min-width: 150px;
  border: 2px solid;
}
