.makent-header {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}
.logo_white{
    display: none;
}
.logo_dark{
    display: block;
}
.makent-header .nav li a{
    color: #565a5c;
}
.listing-img {
	overflow: hidden;
	padding-bottom: 67%
}

.target-control {
	position: absolute;
	height: 100%;
	cursor: pointer
}

.listing-img .target-control {
	transition: none !important
}

.target-control .icon {
	position: absolute;
	top: 50%;
	margin-top: -22px
}

.gm-style [class^="_ibani"] {
	margin-left: 25px !important
}

.panel.map-auto-refresh.display-icon {
	display: none !important
}

.target-prev {
	left: 0;
	width: 25%
}

.target-prev .icon {
	left: 10px
}

.checkbox.panel .icon {
	margin-right: 2px;
	font-size: 18px;
	text-shadow: .1px 0 #565a5c
}

.target-next {
	right: 0;
	width: 25%
}

.target-next .icon {
	right: 10px
}

.listing-img .target-control {
	opacity: 0;
	transition: opacity .1s ease-in-out
}

.listing-img:hover .target-control {
	opacity: .8
}

.listing-img:hover .target-control:hover {
	opacity: 1.0
}

.debug-string {
	height: 150px;
	overflow: scroll
}

.infoBox {
	padding: 10px;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
}

.infoBox:before {
	border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
	border-width: 16px;
	border-style: solid;
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -32px;
	margin: 0 0 0 114px
}

.infoBox:after {
	border-color: #fff transparent transparent transparent;
	border-width: 15px;
	border-style: solid;
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -30px;
	margin: 0 0 0 115px
}

.loading .listing-name,
.loading .listing-review-count,
.loading .wish_list_button,
.loading .instant-book-button {
	display: none
}

.loading .listing-img .img-border,
.loading .listing-img .target-next,
.loading .listing-img .target-prev {
	display: none
}

.listing-link {
	display: block
}

.star-rating .foreground {
	position: absolute
}

.listing-description {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.fancy-dates-message-container {
	background: rgba(255, 180, 0, 0.1);
	min-height: 84px
}

.fancy-dates-message-container .illustration-container {
	background-repeat: no-repeat;
	background-image: url(../images/illustration-girl-00a6cb8e37c9c4500ce0a7c366e66645.png);
	width: 64px;
	height: 84px;
	background-position: right bottom;
	width: 100%;
	height: auto
}

@media(min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
	.fancy-dates-message-container .illustration-container {
		background-image: url(../images/illustration-girl@2x-ee9a017664fa7ed01c6dd177070364ef.png);
		background-size: 64px 84px
	}
}

.fancy-dates-message-container .illustration-container .text {
	padding: 10px 15px;
	width: 80%
}

@media(max-width:767px) {
	.row-space-0-sm {
		margin-bottom: 0
	}
	.row-space-top-0-sm {
		margin-top: 0
	}
	.row-space-1-sm {
		margin-bottom: 12.5px
	}
	.row-space-top-1-sm {
		margin-top: 12.5px
	}
	.row-space-2-sm {
		margin-bottom: 25px
	}
	.row-space-top-2-sm {
		margin-top: 25px
	}
	.row-space-3-sm {
		margin-bottom: 37.5px
	}
	.row-space-top-3-sm {
		margin-top: 37.5px
	}
	.row-space-4-sm {
		margin-bottom: 50px
	}
	.row-space-top-4-sm {
		margin-top: 50px
	}
	.row-space-5-sm {
		margin-bottom: 62.5px
	}
	.row-space-top-5-sm {
		margin-top: 62.5px
	}
	.row-space-6-sm {
		margin-bottom: 75px
	}
	.row-space-top-6-sm {
		margin-top: 75px
	}
	.row-space-7-sm {
		margin-bottom: 87.5px
	}
	.row-space-top-7-sm {
		margin-top: 87.5px
	}
	.row-space-8-sm {
		margin-bottom: 100px
	}
	.row-space-top-8-sm {
		margin-top: 100px
	}
}

@media(max-width:767px) {
	.panel-btn-sm {
		padding: 10px 20px;
		left: 0;
		right: 0;
		z-index: 100
	}
	.panel-btn-sm.bottom {
		position: absolute
	}
	.panel-btn-sm.fixed {
		position: fixed;
		bottom: 40px
	}
	.panel-btn-fixed-sm {
		position: fixed;
		bottom: 40px;
		left: 0;
		right: 0;
		z-index: 100
	}
}

.container.container-full-width {
	margin: 0 20px
}

.flash-container .alert {
	position: fixed;
	top: 47px;
	left: 0;
	right: 0;
	z-index: 1
}

.with-new-header .flash-container .alert {
	top: 61px
}

.transparent {
	opacity: 0
}

.ie8 .transparent {
	visibility: hidden
}

.sidebar {
	width: 100%
}

.map {
	position: absolute;
	top: 58px !important;
	bottom: 0;
	left: 0;
	right: 0
}

.with-new-header .map {
	top: 61px
}

.sidebar .filters {
	left: 0
}

.sidebar.filters-open .search-results {
	display: none
}

.sidebar.filters-open .filters {
	display: block
}

.sidebar.filters-open .sidebar-header {
	display: block
}

.outer-listings-container {
	overflow-x: hidden
}

@media(min-width:768px) {
	.map-search {
		position: absolute;
		top: 62px;
		bottom: 0;
		left: 0;
		right: 0
	}
	.with-new-header .map-search {
		top: 61px
	}
	.sidebar {
		top: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		background: #f7f7f7
	}
	.with-new-header .sidebar {
		top: 61px
	}
	.sidebar .filters {
		display: block
	}
	.sidebar .sidebar-header {
		display: block
	}
	.sidebar.filters-open {
		overflow-y: hidden
	}
	.sidebar-header-placeholder {
		height: 50px;
		width: 100%;
		display: none
	}
	.sidebar-header {
		-webkit-transition: opacity .2s, z-index 0 ease 0;
		-moz-transition: opacity .2s, z-index 0 ease 0;
		-o-transition: opacity .2s, z-index 0 ease 0;
		transition: opacity .2s, z-index 0 ease 0
	}
	.sidebar-header.transparent {
		z-index: 0 !important;
		-webkit-transition: opacity .2s, z-index 0 ease .2s;
		-moz-transition: opacity .2s, z-index 0 ease .2s;
		-o-transition: opacity .2s, z-index 0 ease .2s;
		transition: opacity .2s, z-index 0 ease .2s
	}
	.stuck .sidebar-header {
		position: fixed;
		top: 47px;
		right: 40%;
		left: 0;
		z-index: 100
	}
	.stuck.with-new-header .sidebar-header {
		top: 61px
	}
	.stuck .sidebar-header-placeholder {
		display: block
	}
	.stuck .text-filters {
		display: inline
	}
	.stuck .text-more-filters {
		display: none
	}
	.outer-listings-container {
		padding: 0 20px
	}
	.footer-toggle {
		position: fixed;
		right: -1px;
		bottom: -1px;
		padding: 8px 20px;
		z-index: 3
	}
	.footer-toggle i {
		font-size: 21px;
		line-height: 21px;
		width: 21px;
		top: 3px;
		position: relative
	}
	.footer-toggle .close-content {
		display: none
	}
	.footer-toggle .close-content i {
		font-size: 16px;
		top: 1px
	}
	.footer-toggle.open .open-content {
		display: none
	}
	.footer-toggle.open .close-content {
		display: block
	}
	
	#footer {
		margin-top: 0;
		margin-bottom: 0
	}
}

.sidebar-header-placeholder {
	height: 67px;
	width: 100%;
	display: none
}

.sidebar-header {
	padding-top: 14px;
	padding-bottom: 10px;
	-webkit-transition: opacity .2s, z-index 0 ease 0;
	-moz-transition: opacity .2s, z-index 0 ease 0;
	-o-transition: opacity .2s, z-index 0 ease 0;
	transition: opacity .2s, z-index 0 ease 0
}

.sidebar-header.transparent {
	z-index: 0 !important;
	-webkit-transition: opacity .2s, z-index 0 ease .2s;
	-moz-transition: opacity .2s, z-index 0 ease .2s;
	-o-transition: opacity .2s, z-index 0 ease .2s;
	transition: opacity .2s, z-index 0 ease .2s
}

.text-filters {
	display: none
}

.search-results.loading:before {
	top: 15%
}

.ib-icon-tooltip {
	max-width: 240px
}

.listing-img .media-photo.media-cover {
	z-index: 0
}

.listing-img-container {
	z-index: 1
}

.listing-img-container.loading {
	position: absolute
}

.breadcrumbs,
.nearby-links a {
	color: #82888a
}

.breadcrumb-spacer {
	margin: 0 5px 0 7px;
	font-size: 10px
}

.nearby-links {
	border-top: 1px solid #dce0e0;
	padding-top: 15px
}

.results-footer {
	overflow: hidden;
	padding: 20px
}

.results_count {
	margin: 0 0 5px 2px
}

.search-header .location,
.search-header .search-button {
	margin-right: 4px
}

.search-header .location {
	width: 240px
}

.disaster-rooster {
	text-align: center
}

.pricing-disclaimer {
	margin-left: 25px
}

.col-middle-alt {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px
}

.labeled-hr {
	position: relative
}

.labeled-hr__hr {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: 0;
	margin-bottom: 0
}

.labeled-hr__label {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f5f5f5
}

.map {
	position: fixed;
	right: 0;
	left: auto;
	bottom: 0;
	width: 100%
}

@media(min-width:768px) {
	.map {
		display: block;
		width: 40%
	}
	.map:before {
		content: '';
		position: absolute;
		height: 100%;
		right: 0;
		-webkit-box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.3);
		box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.3);
		width: 2px;
		z-index: 2
	}
}

.map-refresh-controls.Google {
	position: absolute;
	top: 6px;
	left: 31px
}

.touch .map-refresh-controls.Google {
	left: 40px
}

.map-refresh-controls.Google label.checkbox {
	padding: 8px 0
}

.map-refresh-controls.Mapbox {
	position: absolute;
	top: 11px;
	left: 39px
}

.touch .map-refresh-controls.Mapbox {
	left: 40px
}

.map-refresh-controls.Mapbox label.checkbox {
	padding: 8px 0
}

.map-auto-refresh {
	padding: 0 8px
}

.map-controls .panel {
	position: absolute;
	top: 6px;
	right: 6px;
	padding: 7px;
	cursor: pointer
}

.map-canvas {
	height: 100%
}

.icon-space-left {
	margin-left: 10px
}

.rich-popover .rich-popover-body {
	padding: 10px
}

.rich-popover .rich-popover-head {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.rich-popover .rich-popover-img {
	margin: -10px -10px 0 -10px;
	width: 280px
}

.rich-popover .rich-popover-category {
	background-color: #ffaa91;
	color: white;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	z-index: 2
}

.neighborhood-label {
	color: #7b7d77;
	margin-left: -65px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(240, 237, 229, 0.9), -1px -1px 0 rgba(240, 237, 229, 0.9), -1px 1px rgba(240, 237, 229, 0.9), 1px -1px rgba(240, 237, 229, 0.9);
	width: 130px
}

.neighborhood-label__selected {
	color: #ff5a5f
}

.neighborhood-label__title {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px
}

.neighborhood-label__attributes {
	font-size: 11px;
	line-height: 13px
}

.leaflet-container {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

.map-marker {
	overflow: visible !important;
	width: auto !important;
	height: 0 !important
}

.map-marker .map-dot {
	width: 8px;
	height: 8px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #c64545;
	background-color: #ff5a5f;
	position: relative;
	bottom: 4px;
	right: 4px
}

.map-marker sup {
	top: -0.2em
}

.map-marker .icon-heart {
	font-size: 11px;
	position: relative;
	margin-left: 2px;
	bottom: 1px
}

.map-marker .tooltip-layout {
	left: -50%;
	top: -34px;
	color: #fff;
	padding: 2px 4px;
	font-size: 14px;
	font-weight: bold;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3)
}

.map-marker .tooltip-bottom-middle:before {
	bottom: -6px;
	margin-left: -6px;
	border-width: 6px;
	border-top-color: rgba(0, 0, 0, 0.3)
}

.map-marker .tooltip-bottom-middle:after {
	bottom: -5px;
	margin-left: -5px;
	border-width: 5px
}

.map-marker .tooltip-primary {
	background-color: #ff5a5f
}

.map-marker .tooltip-primary:after {
	border-top-color: #ff5a5f
}

.map-marker .tooltip-host {
	background-color: #007a87
}

.map-marker .tooltip-host:after {
	border-top-color: #007a87
}

.map-marker .tooltip-contrast {
	background-color: #9ca299
}

.map-marker .tooltip-contrast:after {
	border-top-color: #9ca299
}

@media(min-width:768px) {
	.filters {
		position: fixed;
		z-index: 11;
		top: 47px;
		left: 0;
		right: 40%;
		bottom: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: #fff
	}
	.filters.collapse {
		overflow: hidden;
		position: static;
		padding-bottom: 0
	}
	.filters.collapse .filters-section,
	.filters.collapse .filters-footer,
	.filters.collapse .filters-footer-sm {
		display: none
	}
	.filters.collapse .filters-section.intro-filter {
		display: block
	}
	.with-new-header .filters {
		top: 61px
	}
}

.filters-section {
	padding-top: 15px;
	padding-bottom: 15px
}

.panel-bg-medium {
	background: #f5f5f5
}

.panel-bg-medium .search-tag {
	background: #f5f5f5
}

.drop-shadow {
	box-shadow: 0 2px rgba(86, 90, 92, 0.1)
}

.checkbox,
.checkbox input {
	cursor: pointer
}

.checkbox.panel {
	padding-left: 7px
}

.checkbox.panel .icon {
	margin-right: 2px
}

.filters-more {
	-webkit-transition: max-height .2s ease-in;
	-moz-transition: max-height .2s ease-in;
	-o-transition: max-height .2s ease-in;
	transition: max-height .2s ease-in;
	max-height: 1250px;
	overflow: hidden
}

.filters-more.collapse {
	max-height: 0;
	-webkit-transition: max-height .2s ease-out;
	-moz-transition: max-height .2s ease-out;
	-o-transition: max-height .2s ease-out;
	transition: max-height .2s ease-out
}

@media(min-width:768px) {
	.filters-footer {
		width: 60%;
		position: fixed;
		-webkit-transform: translateZ(1px);
		bottom: 0;
		background-color: #fff;
		padding: 20px
	}
}

@media(max-width:767px) {
	.filters-footer-sm.fixed {
		bottom: 0
	}
	.sticky-apply-filters-placeholder {
		height: 75px
	}
}

.ui-slider {
	margin: 10px 7px;
	position: relative;
	overflow: visible
}

.ui-slider-handle {
	border: 1px solid #dce0e0;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-left: -10px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	top: -8px;
	width: 18px;
	height: 18px
}

.icon-handle-draggable {
	font-size: .85em;
	top: 1px;
	position: absolute;
	left: 3px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

.progress {
	background-color: #dce0e0;
	border: 4px solid #f5f5f5;
	border-radius: 0;
	box-shadow: none;
	height: 10px
}

.airslide.progress {
	overflow: visible;
	position: relative
}

.ui-slider-range {
	border: 0;
	background-color: #ff5a5f;
	height: 100%;
	position: absolute
}

.p2-slider-new .airslide {
	height: 24px;
	position: relative;
	overflow: visible
}

.p2-slider-new .airslide-background {
	background: #dce0e0;
	height: 2px;
	position: relative;
	top: 14px;
	width: 100%
}

.p2-slider-new .airslide-progress {
	background-color: #ff5a5f;
	height: 4px;
	position: absolute;
	top: 13px
}

.p2-slider-new .airslide-handle {
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	height: 24px;
	margin-left: -12px;
	outline: 0;
	position: absolute;
	z-index: 2;
	width: 24px
}

.avg-price {
	height: 0;
	position: relative;
	width: 100%
}

.avg-price .tooltip {
	padding: 2px 8px
}

.p2-histogram {
	position: relative;
	top: 19px
}

.p2-histogram-bar {
	background: #edefed;
	display: inline-block;
	width: 2%
}

.p2-histogram-bar.active {
	background: #dce0e0
}

.text-filters {
	display: none
}

.show-filters {
	cursor: pointer;
	margin-right: 8px
}

@media(min-width:768px) {
	.keywords {
		padding-bottom: 125px
	}
}

.show-more {
	cursor: pointer
}

.price-range-slider .progress-bar {
	transition: none;
	-webkit-transition: none
}

.applied-filters {
	display: inline;
	margin-bottom: -10px !important
}

.search-tag {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 10px 10px 0
}

.search-tag .search-tag-remove {
	margin: 0 0 0 10px
}

.search-tag+.search-tag {
	margin-left: 0
}

.crossfading-panel--margin-left {
	margin-left: 9px;
	margin-right: 0
}

.crossfading-panel--margin-right {
	margin-right: 9px;
	margin-left: 0
}

.crossfading-panel__container {
	position: relative;
	overflow: hidden
}

.crossfading-panel__container--md {
	border-top: 1px solid #dce0e0;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%
}

.filter-recent-listings-container {
	margin-left: 10px
}

.crossfading-panel__text--md {
	width: 85%
}

.crossfading-panel__vertically-centered-container {
	height: 40px
}

.crossfading-panel {
	width: 100%;
	position: relative;
	top: 0;
	opacity: 1;
	transition: opacity 1.0s ease-in-out, top .5s ease-in-out
}

.crossfading-panel--left {
	left: 0
}

.crossfading-panel--right {
	right: 0
}

.crossfading-panel--vertically-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%)
}

.crossfading-panel--invisible {
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	transition: none;
	top: 60px
}

.icon-color-calendar {
	background: url(../images/(PNG Image, 34 × 34 pixels).png) center no-repeat;
	width: 36px;
	height: 40px
}

.icon-color-currency {
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	margin-top: 3px
}

@media(min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
	.icon-color-currency {
		background-image: url(../images/ic_currency_blue@2x-289dc844e29f5a0c6374595c2e227932.png);
		background-size: 36px 36px
	}
}

.icon-color-house {
	background-repeat: no-repeat;
	background-image: url(../images/ic_house_blue-e17bf576a849f927c7f14976f6709381.png);
	width: 36px;
	height: 36px;
	margin-top: 3px
}

@media(min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
	.icon-color-house {
		background-image: url(../images/ic_house_blue@2x-963b3a098ac2cb8b07a0d1571d7bc723.png);
		background-size: 36px 36px
	}
}

.last-minute-panel.media-round {
	height: 35px;
	width: 35px;
	border-color: #c4c4c4;
	background-color: #fff;
	margin-top: 3px
}

.icon-calendar-trend {
	background-repeat: no-repeat;
	background-image: url(../images/ic_dates_trend-db5d39726eacf914e765ecd5ad337f29.png);
	width: 41px;
	height: 36px;
	margin-top: 3px
}

@media(min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
	.icon-calendar-trend {
		background-image: url(../images/ic_dates_trend@2x-0a209794002faf6f3d44888575eb6298.png);
		background-size: 41px 36px
	}
}

.superhost-badge {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../images/(PNG Image, 13 × 13 pixels).png);
	width: 13px;
	height: 13px
}

@media(min--moz-device-pixel-ratio:1.3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:1.3),
(min-device-pixel-ratio:1.3),
(min-resolution:1.3dppx) {
	.superhost-badge {
		background-image: url(../images/(PNG Image, 25 × 25 pixels).png);
		background-size: 13px 13px
	}
}

.ui-datepicker-buttonpane {
	padding: 0
}

.ui-datepicker-buttonpane .ui-datepicker-additional-info {
	color: #565a5c;
	float: none;
	font-size: 14px;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%
}

#tour-alert {
	background-color: #00d1c1;
	line-spacing: 0
}

#tour-alert a,
#tour-alert h4,
#tour-alert h6,
#tour-alert h6 a {
	color: #fff
}

#tour-alert h6,
#tour-alert h4 {
	margin-top: 10px;
	margin-bottom: 10px
}

#tour-alert h6 a {
	text-decoration: underline
}

#tour-step-container {
	position: absolute;
	z-index: 12;
	width: 300px;
	border-bottom: 0
}

#tour-step-container .panel {
	margin-bottom: 0
}

#tour-step-container .panel-body {
	pointer-events: none
}

#tour-step-footer {
	background-color: #12555d;
	width: 290px;
	color: white
}

#tour-step-footer.panel-left {
	margin-left: 10px
}

#tour-step-footer-nav {
	float: left;
	padding: 10px 10px 10px 15px
}

#tour-step-footer-next {
	float: right;
	text-align: center;
	background-color: #007a87;
	padding: 10px 20px 10px 20px
}

#tour-step-footer-next a {
	color: white
}

#step-close {
	color: gray;
	display: block;
	padding: 10px;
	float: right
}

#step-close:hover {
	text-decoration: none
}

.tour-step-bg {
	position: fixed;
	z-index: 10;
	background-color: black;
	opacity: .35;
	-ms-filter: "alpha(opacity=35)";
	filter: alpha(opacity=35);
	width: 100%;
	height: 100%
}

#step-panel {
	border-top: 0;
	display: block
}

.highlight {
	z-index: 11
}

.wl-modal__col {
	height: 510px;
	padding: 0
}

.wl-modal__col-collapsible {
	max-height: 510px;
	padding: 0
}

.wl-modal__modal .modal-content {
	max-width: 860px
}

@media(min-width:768px) and (max-width:1099px) {
	.wl-modal__col-collapsible {
		max-height: none
	}
	.wl-modal__modal--loggedOut .modal-content {
		max-width: 320px
	}
}

.wl-modal__header {
	height: 17%;
	padding: 0 30px
}

.wl-modal__modal-close {
	position: absolute;
	right: 5px;
	top: 32px
}

.wl-modal-footer {
	text-align: left;
	height: 14%;
	padding: 11px;
	padding-left: 30px
}

.wl-modal-footer__form {
	height: 100%
}

.wl-modal-footer__input {
	height: 100%;
	border: 0;
	padding: 0
}

.wl-modal-footer__text {
	position: relative;
	top: -1px
}

.wl-modal-footer__no-thanks {
	padding-right: 20px
}

.wl-modal-listing__name {
	font-weight: bold;
	font-size: 22px
}

.wl-modal-listing__summary-hr {
	width: 40px;
	margin-left: 0;
	margin-top: 0
}

.wl-modal-listing__rating-container {
	display: inline-block
}

.wl-modal-listing__rating-container .star-rating-wrapper {
	display: inline-block
}

.wl-modal-listing__icon-rotate {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out, -moz-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out, -o-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out, -o-transform .3s ease-in-out;
	font-size: 12px
}

.wl-modal-listing__icon-rotate.rotate {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

.wl-modal-listing__text {
	opacity: .8;
	-ms-filter: "alpha(opacity=80)"
}

.background-listing-img--dark:after {
	opacity: .7;
	-ms-filter: "alpha(opacity=70)";
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out
}

.wl-modal-wishlists {
	height: 83%
}

.wl-modal-wishlists__body {
	padding: 10px 30px;
	padding-right: 32px
}

.wl-modal-wishlists__invitation-body {
	padding: 20px 30px;
	padding-right: 32px
}

.wl-modal-wishlists__body--scroll {
	height: 86%
}

.wl-modal-wishlists__body--scroll-short {
	height: 70%
}

.wl-modal-wishlists--error {
	height: 16%;
	padding: 11 20px;
	line-height: 17px
}

.wl-modal-wishlist-row {
	height: 47px;
	position: relative
}

.wl-modal-wishlist-row__name {
	width: 70%
}

.wl-modal-wishlist-row__icons {
	padding-right: 1px
}

.wl-modal-wishlist-row__icon-heart {
	display: inline
}

.wl-modal-wishlist-row__icon-heart-alt {
	display: none
}

.wl-modal-wishlist-row:hover .wl-modal-wishlist-row__icon-heart-alt {
	display: inline
}

.wl-modal-wishlist-row:hover:before {
	background-color: #f5f5f5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -15px;
	right: -15px;
	content: " "
}

.row-margin-zero {
	margin: 0
}

.clickable {
	cursor: pointer
}

.wl-modal__summary-text {
	height: 100px
}

.wl-modal-listing-tabbed {
	top: 415px;
	left: 35px;
	padding-right: 35px;
	-webkit-transition: top 400ms ease-in-out;
	-moz-transition: top 400ms ease-in-out;
	-o-transition: top 400ms ease-in-out;
	transition: top 400ms ease-in-out
}

.wl-modal-listing-tabbed.summary-open {
	top: 25px;
	-webkit-transition: top 400ms ease-in-out;
	-moz-transition: top 400ms ease-in-out;
	-o-transition: top 400ms ease-in-out;
	transition: top 400ms ease-in-out
}

.wl-modal-listing__summary-tab-hr {
	border-top: 1px solid #82888a
}

.wl-modal__tab-item,
.wl-modal__tab-item:hover,
.wl-modal__tab-item:focus {
	color: #cacccd
}

.wl-modal__tab-item[aria-selected="true"],
.wl-modal__tab-item[aria-selected="true"]:hover,
.wl-modal__tab-item[aria-selected="true"]:focus {
	color: #fff
}

.wl-modal__tab-panel {
	height: 325px
}

.wishlist-widget-tooltip[aria-hidden=false] {
	opacity: .9;
	-ms-filter: "alpha(opacity=90)"
}

.wishlist-widget-tooltip[aria-hidden=false]:before,
.wishlist-widget-tooltip[aria-hidden=false]:after {
	border-left-color: #3c3f40;
	opacity: .9;
	-ms-filter: "alpha(opacity=90)"
}

.wishlist-widget-tooltip__body {
	margin: 0;
	padding: 5px 10px
}

.bt-space-left-4 {
	margin-left: 25px
}

.toggle--color-babu .toggle__track {
	background-color: #82888a
}

.toggle--color-babu.toggle--checked .toggle__track {
	background-color: #008489 !important
}

.toggle--color-babu .toggle__handle {
	background-color: #fff;
	color: #82888a
}

.toggle--color-babu.toggle--checked .toggle__handle {
	color: #008489 !important
}

.toggle--color-hackberry .toggle__track {
	background-color: #82888a
}

.toggle--color-hackberry.toggle--checked .toggle__track {
	background-color: #7b0051
}

.toggle--color-hackberry .toggle__handle {
	background-color: #fff;
	color: #82888a
}

.toggle--color-hackberry.toggle--checked .toggle__handle {
	color: #7b0051
}

.toggle {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 80px;
	height: 30px
}

.toggle .toggle__track {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px
}

.toggle .toggle__handle {
	top: 2px;
	bottom: 2px;
	right: 38px;
	left: 2px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	line-height: 26px;
	font-size: inherit
}

.toggle.toggle--checked .toggle__handle {
	right: 2px;
	left: 38px
}

.toggle__checkbox {
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.toggle__track {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.toggle__handle {
	position: absolute;
	text-align: center;
	font-weight: bold;
	-webkit-transition: all 160ms ease-out;
	-moz-transition: all 160ms ease-out;
	-o-transition: all 160ms ease-out;
	transition: all 160ms ease-out
}

.makent-plus-logo {
	color: #7b0051;
	font-size: 24px;
	font-weight: 200;
	letter-spacing: .23px
}

.makent-plus-logo .icon {
	margin-left: 3px;
	margin-right: 5px
}

.makent-plus-logo__inner {
	border-color: #7b0051;
	border-style: solid;
	border-width: 1px 0;
	display: inline-block;
	padding: 8px 0;
	margin: 0 auto
}

.makent-plus-logo__SELECT {
	letter-spacing: .25px;
	text-transform: uppercase
}

.btn.btn-makent-plus {
	border-color: #7b0051;
	border-bottom-color: #500035;
	background-color: #7b0051;
	color: #fff
}

.btn.btn-makent-plus:hover,
.btn.btn-makent-plus:focus {
	border-color: #9f0069;
	border-bottom-color: #690045;
	background-color: #9f0069;
	color: #fff
}

.btn.btn-makent-plus:active {
	border-color: #500035;
	background-color: #500035;
	color: #fff
}

.makent-plus-banner {
	padding-bottom: 6px
}

.panel.makent-plus-banner__panel {
	padding: 14px 20px
}

.makent-plus-banner__body {
	padding-left: 70px;
	padding-right: 100px
}

.makent-plus-banner .toggle {
	width: 72px;
	height: 26px;
	text-transform: uppercase
}

.makent-plus-banner .toggle .toggle__track {
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px
}

.makent-plus-banner .toggle .toggle__handle {
	top: 2px;
	bottom: 2px;
	right: 34px;
	left: 2px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	line-height: 22px;
	font-size: 11px
}

.makent-plus-banner .toggle.toggle--checked .toggle__handle {
	right: 2px;
	left: 34px
}

.makent-plus-tag {
	border-top: 1px solid #7b0051;
	border-bottom: 1px solid #7b0051;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #7b0051;
	text-shadow: none
}

.makent-plus-tag--sm {
	display: inline-block;
	letter-spacing: .02em;
	padding: 0
}

.makent-plus-tag_p3-container {
	display: table-row
}

.guidebook-p2-button__div {
	position: absolute;
	bottom: 50px;
	right: 15px;
	z-index: 3
}

.sticky-footer-instant-promo #footer {
	display: block;
	height: 200px;
	padding: 0
}

.sticky-footer-instant-promo .sidebar {
	bottom: 212.5px
}

.sticky-footer-instant-promo .footer-toggle {
	bottom: 200px
}

.sticky-footer-instant-promo .map {
	bottom: 200px
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container {
	height: 200px
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container .instant-promo-image-pane {
	padding: 0
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container .instant-promo-image-pane .background-cover {
	height: 200px
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container .instant-promo-text-pane {
	padding: 0;
	background: #fff;
	height: 200px
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container .instant-promo-text-pane .instant-promo-title {
	padding: 30px;
	color: #ff5a5f
}

.sticky-footer-instant-promo .react-sticky-footer-promo-container .instant-promo-text-pane .instant-promo-body {
	padding-top: 50px;
	padding-left: 30px;
	color: #007a87
}

.container_1r1rje {
	display: none;
	left: 0 !important;
	right: 0 !important;
	text-align: center !important;
	position: fixed !important;
	z-index: 98 !important
}

.container_1xmexls {
	border-radius: 25px !important;
	overflow: hidden !important;
	position: relative !important;
	display: inline-block !important;
	vertical-align: middle !important;
	white-space: nowrap !important
}

.button_ipunk {
	background-color: #ff5a5f !important;
	border: 1px solid #ff5a5f !important;
	color: #fff !important;
	font-size: 19px !important;
	font-weight: bold !important;
	line-height: 30px !important;
	padding: 9px 27px !important;
	vertical-align: middle !important;
	border-right: 1px solid white !important
}

.button_ipunk-result {
	background-color: #ff5a5f !important;
	border: 1px solid #ff5a5f !important;
	color: #fff !important;
	font-size: 19px !important;
	font-weight: bold !important;
	line-height: 30px !important;
	padding: 9px 27px !important;
	vertical-align: middle !important;
	border-right: 1px solid white !important
}

.button_ipunk4 {
	background-color: #ff5a5f !important;
	border: 1px solid #ff5a5f !important;
	color: #fff !important;
	font-size: 19px !important;
	font-weight: bold !important;
	line-height: 30px !important;
	padding: 9px 27px !important;
	vertical-align: middle !important;
	margin-left: -4px
}

.button_ipunk-result {
	display: none
}

@media(max-width:760px) {
	.container_1r1rje {
		display: block !important
	}
	.map.hide-sm-view {
		display: none
	}
	.price-min {
		position: relative;
		top: -17px
	}
	.apply-btn.col-sm-offset-4 {
		margin-left: 20.333% !important
	}
	.col-sm-4.apply-red {
		width: 45% !important
	}
	#room-options .col-middle-alt.col-sm-4 {
		width: 100% !important
	}
	.hide-sm-view {
		display: none
	}
	.map {
		top: 75px !important;
		z-index: 1
	}
	.filter-div {
		display: none
	}
}

@media(min-width:765px) {
	.map.hide-sm-view {
		display: block !important
	}
	.filter-div {
		display: block !important
	}
}