@media (min-width: 300px) and (max-width: 450px) {
  .listing .card-profile-picture {
    height: 30 !important;
    width: 30 !important;
  }
  .listing .card-profile-picture-offset {
    top: -27px !important;
  }
  .listing .card-profile-picture img {
    height: 30px !important;
    width: 30px !important;
  }
  .listing .icon-flush-sides {
    margin: 0 -5px 0 0 !important;
    display: inline-block !important;
    position: relative !important;
    top: 2px !important;
  }
  .listing .h3.icon-beach {
    color: #ffb400;
    font-size: 13px;
  }
  .listing .h6,
  .listing .h3 {
    font-size: 13px !important;
  }
  .listing .panel-overlay-listing-label {
    bottom: 20px;
    left: 0;
    padding: 2px 8px;
  }
  .listing sup.h6 {
    top: 0 !important;
  }
}

@media (min-width: 460px) and (max-width: 600px) {
  .card-profile-picture {
    height: 40 !important;
    width: 40 !important;
  }
  .listing .card-profile-picture-offset {
    top: -36px !important;
  }
  .listing .card-profile-picture img {
    height: 40px !important;
    width: 40px !important;
  }
  .icon-flush-sides {
    margin: 0 -5px 0 0 !important;
    display: inline-block !important;
    position: relative !important;
    top: 2px !important;
  }
  .listing .h3.icon-beach {
    color: #ffb400;
    font-size: 13px;
  }
  .listing .h6,
  .listing .h3 {
    font-size: 14px !important;
  }
  .listing .panel-overlay-listing-label {
    bottom: 20px;
    left: 0;
    padding: 2px 8px;
  }
  .listing sup.h6 {
    top: 0 !important;
  }
}

@media (max-width: 767px) {
  .row-space-0-sm {
    margin-bottom: 0;
  }
  .row-space-top-0-sm {
    margin-top: 0;
  }
  .row-space-1-sm {
    margin-bottom: 12.5px;
  }
  .row-space-top-1-sm {
    margin-top: 12.5px;
  }
  .row-space-2-sm {
    #pricingmargin-bottom: 25px;
  }
  .row-space-top-2-sm {
    margin-top: 25px;
  }
  .row-space-3-sm {
    margin-bottom: 37.5px;
  }
  .row-space-top-3-sm {
    margin-top: 37.5px;
  }
  .row-space-4-sm {
    margin-bottom: 50px;
  }
  .row-space-top-4-sm {
    margin-top: 50px;
  }
  .row-space-5-sm {
    margin-bottom: 62.5px;
  }
  .row-space-top-5-sm {
    margin-top: 62.5px;
  }
  .row-space-6-sm {
    margin-bottom: 75px;
  }
  .row-space-top-6-sm {
    margin-top: 75px;
  }
  .row-space-7-sm {
    margin-bottom: 87.5px;
  }
  .row-space-top-7-sm {
    margin-top: 87.5px;
  }
  .row-space-8-sm {
    margin-bottom: 100px;
  }
  .row-space-top-8-sm {
    margin-top: 100px;
  }
}

.priv-button {
  position: relative;
  min-width: 130px;
  text-align: left;
}

.priv-button .dropdown-menu {
  margin-left: -1px;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

.priv-button .dropdown-menu li > a {
  padding: 0.6em 1em;
  text-align: left;
  line-height: normal;
}

.priv-button .dropdown-menu li > a:hover .caret {
  border-top-color: white;
}

.priv-button .caret {
  float: right;
  vertical-align: middle;
  margin-top: 4px;
}

.priv-container.opened .dropdown-menu {
  display: block;
  min-width: 128px;
  top: -1px;
}

.priv-container > .icon {
  line-height: 26px;
  margin-left: 5px;
}

.priv-container .tooltip {
  max-width: 285px;
}

.priv-container .tooltip .panel-body {
  padding: 10px;
  border-top: 1px solid #dbdbdb;
}

.priv-container .tooltip .panel-body:first-child {
  border-top: 0;
}

.icon.large {
  font-size: 18px;
}

input.wishlist-privacy[value="0"] + .priv-button .show-priv-everyone {
  display: inline;
}

input.wishlist-privacy[value="0"] + .priv-button .show-priv-onlyme,
input.wishlist-privacy[value="0"] + .priv-button li:first-child,
input.wishlist-privacy[value="0"] + .priv-button .priv-onlyme .caret {
  display: none;
}

input.wishlist-privacy[value="1"] + .priv-button .show-priv-onlyme {
  display: inline;
}

input.wishlist-privacy[value="1"] + .priv-button .show-priv-everyone,
input.wishlist-privacy[value="1"] + .priv-button li:last-child,
input.wishlist-privacy[value="1"] + .priv-button .priv-everyone .caret {
  display: none;
}

#calendar2 table td,
#calendar2 table th {
  border-color: #fff #ccc #ccc #fff;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 2px 2px 4px;
}

#calendar2 table td {
  font-size: 14px;
  text-align: right;
  width: 45px;
  height: 45px;
}

#calendar2 table th {
  font-weight: 700;
  text-align: center;
  width: 48px;
  background-color: #dedede;
}

#calendar2 table td div.extra {
  font-size: 12px;
  margin-top: 5px;
}

#calendar2 table td span.dom {
  color: #666;
  float: right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

#calendar2 td.is_dirty span {
  text-decoration: underline;
}

#calendar2 td.clickable {
  cursor: pointer;
}

#calendar2 td.selected {
  border: 2px solid black;
}

#calendar2 {
  width: 380px;
}

#calendar2 .available {
  background-color: #acdba8;
}

#calendar2 .unavailable {
  background-color: #e07272;
}

#calendar2 .in_the_past {
  background-color: #e1e1e1;
}

#calendar2 .key {
  width: 30px;
  margin-right: 5px;
  float: left;
}

#calendar2 .key-text {
  margin-right: 10px;
  float: left;
}

#calendar2 #legend {
  margin-top: 5px;
}

#lwlb_overlay[id] {
  position: fixed;
}

#lwlb_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #000;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  filter: alpha(opacity=80);
}

div.lwlb_lightbox {
  position: absolute;
  z-index: 10001;
  border: 1px solid #fff;
  background: #fdfce9;
  display: none;
  padding: 10px;
  left: 350px;
  top: 0;
}

div.lwlb_lightbox2 {
  position: fixed;
  z-index: 10001;
  display: none;
  left: 220px;
}

#lwlb_contact {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#lwlb_contact .lwlb-screen {
  display: none;
}

#lwlb_contact .submit-or-cancel.sent,
#cboxLoadedContent .submit-or-cancel.sent {
  margin: 0 0 0 10px;
  padding: 5px 15px;
  background: url("../images/check.png") no-repeat 0 0;
  display: inline-block;
}

#lwlb_contact .submit-or-cancel.sent input,
#lwlb_contact .submit-or-cancel.sent span,
#lwlb_contact .submit-or-cancel.sent button,
#cboxLoadedContent .submit-or-cancel.sent input,
#cboxLoadedContent .submit-or-cancel.sent span,
#cboxLoadedContent .submit-or-cancel.sent button {
  display: none;
}

@media (max-width: 767px) {
  .carousel-item-list {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .sliding-carousel {
    position: relative;
  }
  .sliding-carousel .carousel-view {
    overflow: hidden;
    position: relative;
  }
  .sliding-carousel .carousel-item-list {
    left: 0;
    position: absolute;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
  .sliding-carousel .carousel-item {
    float: left;
  }
  .sliding-carousel .carousel-chevron {
    cursor: pointer;
    position: absolute;
    z-index: 999;
  }
}

@media (max-width: 767px) {
  .panel-btn-sm {
    padding: 10px 20px;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .panel-btn-sm.bottom {
    position: absolute;
  }
  .panel-btn-sm.fixed {
    position: fixed;
    bottom: 40px;
  }
  .panel-btn-fixed-sm {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

.hide-visually {
  overflow: hidden;
  text-indent: -9999px;
  height: 0;
  padding: 0;
}

.transparent {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
}

.book-it__btn-container .book-it {
  display: block;
}

.book-it__btn-container .instant-book {
  display: none;
}

.book-it__btn-container .book-now {
  display: none;
}

.instant-bookable .book-it__btn-container .instant-book {
  display: block;
}

.instant-bookable .book-it__btn-container .book-it,
.instant-bookable .book-it__btn-container .request-to-book {
  display: none;
}

.friendlier-ib-cta.instant-bookable .book-it__btn-container {
  margin-bottom: 18.75px;
}

.friendlier-ib-cta.instant-bookable .book-it__btn-container .instant-book {
  display: none;
}

.friendlier-ib-cta.instant-bookable .book-it__btn-container .book-now {
  display: block;
}

.book-it--friendlier__book-it-btn-help {
  display: none;
}

.instant-bookable.friendlier-ib-cta .book-it--friendlier__book-it-btn-help {
  display: block;
}

#book_it_form {
  margin-top: -40px;
  width: 315px;
}

.subnav-element {
  height: 42px;
}

#book_it {
  position: absolute;
  width: 315px;
  z-index: 10;
  border-top: 0;
}

@media (min-width: 1100px) {
  #book_it.fixed {
    position: fixed;
    top: 40px;
  }
}

#book_it.bottom {
  position: absolute;
}

#book_it .form-fields label {
  padding-top: 0;
}

#book_it sup {
  margin-left: 3px;
}

.media .message-icon {
  margin-right: 0;
}

.book-it__instant-book-icon {
  position: relative;
  top: 1px;
}

.book-it__subtotal table {
  border-left: 0;
  border-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.book-it__subtotal td {
  padding-left: 20px;
  padding-right: 20px;
}

.book-it__subtotal td:first-child {
  border-left: 0;
}

.panel-padding-fit {
  margin-left: -20px;
  margin-right: -20px;
}

.tooltip-layout {
  position: relative;
  opacity: 1;
  max-width: none;
  z-index: auto;
}

.tooltip-no-border {
  box-shadow: none;
}

.tooltip-no-border.tooltip-top-middle:before {
  border-color: transparent;
}

.tooltip-light-beach {
  background-color: #fff8e5;
}

.tooltip-light-beach.tooltip-top-middle:after {
  border-bottom-color: #fff8e5;
}

.icon-hourglass-color {
  width: 28px;
  height: 40px;
  background: url("../images/timr.png") right bottom no-repeat;
}

#pricing {
  background-color: rgba(60, 63, 64, 0.9);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  text-transform: capitalize;
  width: 315px;
}

@media (min-width: 1100px) {
  #pricing.fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 1001;
  }
}

#payment-period-container {
  border: 0;
}

#payment-period-container:before {
  color: #fff;
}

#payment-period-container select {
  background: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  line-height: 18px;
}

#payment-period-container option {
  background-color: #565a5c;
}

#price_amount {
  padding: 6px 0;
  margin-top: 0;
}

#price_amount sup {
  margin-left: 4px;
  font-size: 14px;
  font-weight: bold;
}

.pricing__bolt {
  display: none;
}

.friendlier-ib-cta.instant-bookable .pricing__bolt {
  display: block;
}

#per_month,
#per_night {
  padding: 9px 0;
}

.other-actions {
  border: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.more-social-options {
  padding: 10px 0;
}

.more-social-options li {
  padding: 6px 15px;
  clear: both;
  line-height: 18px;
}

.more-social-options li a {
  color: gray;
}

.social-icon-size {
  font-size: 18px;
}
.top_gallery_detail {
  height: 377px;
}
.top_gallery_detail .row {
  margin: 0;
}
.top_gallery_detail .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.top_gallery_detail .col-md-6 img {
  width: 100%;
  border: 2px solid #000;
  height: 100%;
}
.top_gallery_detail .full_col {
  height: 340px;
}
.top_gallery_detail .half_col {
  height: 170px;
}

.more_images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more_images a {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}
.col_box_9 {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 767px) {
  .nearby_attractions_main .media img {
    margin-bottom: 15px;
  }
  .nearby_attractions_section {
    margin-top: -65px;
  }
  .hero-center-section {
    top: 40%;
  }
  .slideshow {
    height: 120px;
  }
  .hide_on_mobile {
    display: none !important;
  }
}

@media (max-width: 1099px) {
  #book_it_form {
    margin-top: 0;
  }
  #book_it,
  #pricing,
  #book_it_form {
    width: auto;
    position: static;
  }
}

.mobile-bookit-btn-container {
  display: none;
}

@media (max-width: 767px) {
  .mobile-bookit-btn-container {
    display: block;
  }
}

.book-it-message-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s, opacity 0.8s linear 0.2s;
  -moz-transition: max-height 0.8s, opacity 0.8s linear 0.2s;
  -o-transition: max-height 0.8s, opacity 0.8s linear 0.2s;
  transition: max-height 0.8s, opacity 0.8s linear 0.2s;
}

.book-it-message-container.expanded {
  max-height: 300px;
  opacity: 1;
}

.book-it-message-container.expanded .icon-background-container {
  margin-top: 0;
}

.book-it-message-container .icon-background-container {
  margin-top: -15px;
  -webkit-transition: margin-top 0.4s;
  -moz-transition: margin-top 0.4s;
  -o-transition: margin-top 0.4s;
  transition: margin-top 0.4s;
}

.book-it-message-container .message-text {
  width: 80%;
}

#contact-modal .host-questions-panel {
  border: 0;
  padding-right: 0;
}

#contact-modal .checkin {
  border-right-width: 0;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

#contact-modal .checkout {
  border-right-width: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#contact-modal .tooltip-fixed {
  position: relative;
  max-width: none;
  z-index: auto;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
}

#contact-modal .input-col {
  padding: 0;
}

#contact-modal .tooltip-bottom-left:before {
  left: 28px;
}

#contact-modal .tooltip-bottom-left:after {
  left: 29px;
}

#contact-modal textarea {
  border: 0;
  padding: 0;
  resize: none;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
}

#contact-modal select {
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

#contact-modal #messaging-errors {
  -moz-border-radius: 0 2px 0 0;
  -webkit-border-radius: 0 2px 0 0;
  border-radius: 0 2px 0 0;
}

#contact-modal .form-panel-body {
  border-top: 0;
}

.contact-host-panel .panel {
  border: 0;
}

.contact-host-panel .modal-img {
  height: 160px;
}

@media (max-width: 767px) {
  .host-questions-panel,
  .guest-message-panel {
    padding-right: 0;
  }
}

.panel-header-message-sent {
  background: #00d1c1
    url("../images/envelope-27c07360befd56903f0a29131aa913cc.png") center left
    no-repeat;
  background-size: 100px;
  color: #fff;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.ie8 .panel-header-message-sent {
  background-image: none;
}

@media (min-width: 768px) {
  #contact-modal .modal-content {
    background: transparent;
    max-width: 650px;
  }
  #contact-modal .modal-close {
    display: none;
  }
  #contact-modal .panel {
    border: 0;
  }
  #contact-modal textarea {
    height: 325px;
  }
  .host-questions-panel {
    background-color: transparent;
  }
  .guest-message-panel {
    padding-left: 0;
    padding-right: 12px;
  }
}

#verified-id-container {
  margin: 0 auto;
}

#photos {
  height: 402px;
  position: relative;
  width: 100%;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}

#photos .cover-img-container .cover-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  height: 100%;
}

#photos.with-photos.medium {
  height: 552px;
}

#photos.with-photos.large {
  height: 702px;
}

#photos.with-photos.xlarge {
  height: 852px;
}

#photos.with-modal .cover-img {
  cursor: pointer;
}

@media screen and (min-height: 700px) {
  #photos.with-photos {
    height: 552px;
  }
}

@media screen and (min-height: 850px) {
  #photos.with-photos {
    height: 702px;
  }
}

@media screen and (min-height: 1000px) {
  #photos.with-photos {
    height: 852px;
  }
}

@media screen and (max-width: 1099px) and (min-height: 700px) {
  #photos.with-photos {
    height: 441.6px;
  }
}

@media screen and (max-width: 1099px) and (min-height: 850px) {
  #photos.with-photos {
    height: 561.6px;
  }
}

@media screen and (max-width: 1099px) and (min-height: 1000px) {
  #photos.with-photos {
    height: 681.6px;
  }
}

@media (max-width: 767px) {
  #photos.with-photos {
    height: 320px;
  }
}

@media screen and (max-width: 767px) and (min-height: 700px) {
  #photos.with-photos {
    height: 368px;
  }
}

@media screen and (max-width: 767px) and (min-height: 850px) {
  #photos.with-photos {
    height: 468px;
  }
}

@media screen and (max-width: 767px) and (min-height: 1000px) {
  #photos.with-photos {
    height: 568px;
  }
}

.slideshow-images,
.slideshow-thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slideshow-images {
  position: relative;
  height: 100%;
}

.slideshow-images.loading-dark:after {
  background-color: transparent;
  z-index: -1;
}

.slideshow-images.loading:before {
  z-index: 0;
}

.slideshow-images li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 1;
}

.slideshow-images li.active {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  z-index: 2;
}

.slideshow-images .img-contain {
  background: transparent no-repeat center;
  position: absolute;
  top: 15%;
  bottom: 15%;
  right: 0;
  left: 0;
  cursor: pointer;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.photo-modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.photo-modal .media-photo {
  background-color: transparent;
}

.photo-modal .modal-content {
  background-color: transparent;
  height: 100%;
  max-width: 100%;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.photo-modal .carousel-chevron {
  background: 0;
  border: 0;
  cursor: pointer;
  height: 100%;
  outline: 0;
  position: absolute;
  top: 0;
  width: 75px;
  height: 100%;
  z-index: 3;
}

@media (max-width: 1099px) {
  .photo-modal .carousel-chevron {
    font-size: 0.5em;
    width: 40px;
  }
}

.photo-modal .carousel-chevron.right {
  right: 0;
}

.photo-modal .carousel-chevron.left {
  left: 0;
}

.photo-modal .modal-cell {
  padding: 0;
}

.photo-modal .modal-close {
  color: #fff;
  font-size: 3.5em;
  padding-bottom: 5px;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 4;
}

.slideshow-media-caption {
  overflow: hidden;
  padding-bottom: 0;
  z-index: 2;
}

.slideshow-caption-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

.slideshow-caption-container.collapsed {
  top: 67px;
}

.slideshow-caption-viewport {
  overflow: hidden;
}

.thumbnails-viewport {
  position: relative;
  overflow: hidden;
  height: 67px;
}

.thumbnails-viewport img {
  height: 67px;
}

.thumbnails-slide-container {
  position: absolute;
  width: 4000px;
}

.thumbnails-slide-panel {
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.thumbnails-slide-panel li {
  background: #000;
}

.thumbnails-slide-panel li + li {
  margin-left: 10px;
}

.p3-photo-social-share-widget {
  margin-top: -31px;
  width: 100%;
  text-align: center;
  cursor: default;
}

.p3-photo-social-share-widget .share-title {
  font-weight: bold;
}

@media all and (min-width: 1380px) and (min-height: 840px) {
  .slideshow-caption-container {
    width: 1260px;
  }
}

@media all and (min-width: 1600px) and (min-height: 960px) {
  .slideshow-caption-container {
    width: 1440px;
  }
}

.half-height {
  height: 211.5px;
}

.featured-height {
  height: 282px;
}

.supporting-height {
  height: 141px;
}

.photo-grid {
  height: 426px;
}

.photo-grid .row {
  margin: 0 -3px 3px;
}

.photo-grid .col-4,
.photo-grid .col-6,
.photo-grid .col-12 {
  padding-right: 1.5px;
  padding-left: 1.5px;
}

.photo-grid-photo {
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  height: 100%;
}

.inline-photo .panel-overlay-button-icon {
  padding: 0 5px 2px;
}

a.icon {
  text-decoration: none;
}

.icon-flag {
  margin-right: 5px;
}

.star-rating {
  display: inline-block;
  position: relative;
}

#reviews .star-rating {
  margin-left: 10px;
}

.star-rating .foreground {
  position: absolute;
}

.with-photos + .panel {
  border-top: 0;
}

.room-section {
  margin-top: -40px;
  padding-top: 40px;
}

.host-profile-image {
  width: 90px;
  height: 90px;
}

@media (max-width: 767px) {
  .host-profile-image {
    width: 75px;
    height: 75px;
  }
}

.gBrandingText {
  visibility: hidden;
  display: none;
  font-weight: normal;
  margin: 0 0 0 30px;
  font-size: 0.8em;
}

.gBrandingText.translated {
  visibility: visible;
  display: inline-block;
}

.webkit-render-fix {
  -webkit-transform: translate3d(0, 0, 0);
}

.icon-breadcrumb-caret {
  font-size: 12px;
  padding: 0 5px;
}

@media (max-width: 767px) {
  .carousel-item:not(:first-of-type) {
    display: none;
  }
  .carousel-item-list {
    padding: 0;
    margin: 0 auto;
  }
  .carousel-item {
    padding: 0;
  }
  .carousel-item .listing {
    margin-bottom: 30px;
  }
}

.carousel-item {
  padding-left: 0;
}

@media (min-width: 768px) {
  .similar-listings-results {
    height: 290px;
  }
  .sliding-carousel.similar-listings .carousel-chevron {
    top: 84px;
  }
  .sliding-carousel.similar-listings .carousel-chevron.left {
    left: -30px;
  }
  .sliding-carousel.similar-listings .carousel-chevron.right {
    right: -30px;
  }
}

@media (min-width: 768px) and (max-width: 767px) {
  .sliding-carousel.similar-listings .carousel-chevron.left,
  .sliding-carousel.similar-listings .carousel-chevron.right {
    top: 50%;
    margin-top: -15px;
  }
  .sliding-carousel.similar-listings .carousel-chevron.left {
    left: 0;
  }
  .sliding-carousel.similar-listings .carousel-chevron.right {
    right: 0;
  }
}

@media (min-width: 768px) {
  .sliding-carousel.similar-listings .listing .panel-image {
    height: 210px;
  }
}

#neighborhood .location-panel {
  height: 650px;
  position: relative;
}

#neighborhood small {
  display: inline-block;
}

#neighborhood .tags {
  text-transform: capitalize;
}

#map {
  height: 100%;
  overflow: hidden;
}

#hover-card {
  -webkit-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  position: absolute;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  top: 15%;
  left: 15%;
  width: 315px;
}

@media (max-width: 767px) {
  #hover-card {
    display: none;
  }
}

#hover-card .dot {
  height: 8px;
  width: 8px;
}

#hover-card .carousel-view {
  height: 286px;
}

#hover-card .carousel-view .carousel-image {
  width: 315px;
  height: 286px;
}

#hover-card .carousel-view .carousel-item-list {
  height: 100%;
  margin-bottom: 0;
}

#hover-card .carousel-view .carousel-item-list .media-cover {
  background-position: center center;
}

#hover-card .carousel-chevron {
  top: 128px;
}

#hover-card .carousel-chevron.right {
  right: 0;
}

#hover-card .title,
#hover-card .header {
  position: absolute;
}

#hover-card .title {
  top: 0;
  height: 286px;
}

#hover-card .header {
  top: 0;
  left: 0;
}

#hover-card .header .h6 {
  background-color: #ffaa91;
  display: inline-block;
  padding: 10px;
}

#hover-card + .panel-body {
  border-top: 0;
}

#hover-card #neighborhood-seo-link .seo-link {
  display: block;
}

#hover-card #neighborhood-seo-link .seo-text {
  display: none;
}

#hover-card #neighborhood-seo-link.not-launched .seo-link {
  display: none;
}

#hover-card #neighborhood-seo-link.not-launched .seo-text {
  display: block;
}

#hover-card #neighborhood-seo-link h3 {
  margin-bottom: 0;
}

#neighborhood .infoBox {
  padding: 0;
}

#neighborhood .infoBox:before {
  margin: 0 0 0 124px;
}

#neighborhood .infoBox .neighborhood-infobox {
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#neighborhood .infoBox .neighborhood-infobox .h6 {
  color: #565a5c;
}

#neighborhood .infoBox .neighborhood-infobox .close-box {
  cursor: pointer;
}

#neighborhood .infoBox .neighborhood-infobox i.pull-left {
  position: relative;
  top: -5px;
}

#neighborhood .infoBox .neighborhood-infobox .panel-body {
  background-color: #fff;
}

#neighborhood .leaflet-popup-content {
  padding: 0;
  min-width: 350px;
}

#neighborhood .leaflet-popup-content-wrapper {
  padding: 0;
}

.neighborhood-infobox.bing {
  width: 350px;
}

.ui-datepicker-target {
  font-size: 13px;
  padding: 9px 6px;
}

.lwlb-screen {
  width: 520px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.lwlb-screen.signup {
  width: 315px;
}

#lwlb_contact {
  top: 50px;
}

#lwlb_contact .verification-flow-container .verification-flow-step {
  top: -39px;
}

.error-block {
  display: none;
}

.error-block div {
  display: none;
}

.error-block.contacted-before,
.error-block.not-available,
.error-block.friction-error-generic,
.error-block.friction-error-captcha,
.error-block.other {
  display: block;
}

.error-block.contacted-before div.contacted-before,
.error-block.not-available div.not-available,
.error-block.friction-error-generic div.friction-error-generic,
.error-block.friction-error-captcha div.friction-error-captcha,
.error-block.other div.other {
  display: block;
}

.badge-pill {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px 9px;
  min-width: 45px;
  position: relative;
  overflow: hidden;
  background: #ffb400;
  background: -webkit-linear-gradient(
    -50deg,
    #ffc333 55%,
    #ffb400 55%,
    #ffb400 100%
  );
  background: -o-linear-gradient(
    -50deg,
    #ffc333 55%,
    #ffb400 55%,
    #ffb400 100%
  );
  background: -ms-linear-gradient(
    -50deg,
    #ffc333 55%,
    #ffb400 55%,
    #ffb400 100%
  );
  background: linear-gradient(140deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
}

.badge-pill-count {
  position: relative;
}

.phone-number-input-widget {
  float: left;
  width: 380px;
}

.phone-number-input-widget select {
  margin: 0 0 15px;
}

.phone-number-input-widget input {
  color: #393c3d !important;
}

.phone-number-input-widget label {
  float: left;
  margin: 0 10px 0 0 !important;
  padding: 0 !important;
  text-align: left !important;
  min-width: 115px;
  width: auto !important;
}

.phone-number-input-widget .pniw-number-container .pniw-number-prefix {
  float: left;
  line-height: 34px;
  border: 1px solid #bbb;
  border-right-width: 0;
  min-width: 30px;
  padding: 0 4px;
  text-align: center;
  color: #393c3d;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.phone-number-input-widget .pniw-number-container input.pniw-number {
  line-height: 16px;
  float: left;
  width: 100px !important;
  border-color: #bbb;
  margin: 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  height: auto !important;
}

.phone-number-verify-widget {
  width: 380px;
  margin: 10px 0;
  float: left;
  clear: both;
  line-height: 26px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  padding: 10px;
  text-align: left;
  padding: 15px;
}

.phone-number-verify-widget strong {
  font-weight: bold;
}

.phone-number-verify-widget .pnaw-verification-error {
  display: none;
  color: red;
  line-height: 1.5 !important;
  margin-bottom: 5px !important;
}

.phone-number-verify-widget .pnaw-verify-container {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.phone-number-verify-widget .pnaw-verify-container a.cancel {
  margin-left: 2px;
}

.phone-number-verify-widget .pnaw-verify-container .why-verify {
  float: right;
}

.phone-number-verify-widget .pnaw-step2 {
  display: none;
}

.phone-number-verify-widget .pnaw-step2 p {
  margin-bottom: 5px !important;
  line-height: 20px;
}

.phone-number-verify-widget .pnaw-step2 label {
  margin: 10px 10px 0 0 !important;
  line-height: 16px;
  float: left;
  width: auto !important;
}

.phone-number-verify-widget .pnaw-step2 input {
  float: left;
  margin: 7px 0 0 !important;
}

.phone-number-verify-widget .pnaw-step2 #phone_number_verification {
  width: 60px !important;
}

.phone-number-verify-widget .pnaw-step2 .cancel-message {
  clear: left;
  padding-top: 10px;
}

.phone-number-verify-widget .pnaw-step2 .pnaw-verify-container {
  float: left;
  margin-top: 7px;
}

.phone-number-verify-widget.loading .pnaw-verify-container {
  background: url("../images/spinner-9ba46576baf7d2debad913a1cede49c4.gif")
    no-repeat center left;
}

.phone-number-verify-widget.loading .pnaw-verify-container * {
  visibility: hidden;
}

#colorbox .phone-number-verify-widget {
  padding: 0;
  margin: 0;
  background-image: none;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.phone-numbers-container {
  float: left;
  margin-bottom: 10px;
  position: relative;
  line-height: 38px;
}

.phone-numbers-container table.phone-numbers-table {
  border: 1px solid #d1d1c9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.phone-numbers-container table.phone-numbers-table th,
.phone-numbers-container table.phone-numbers-table td {
  padding: 0 10px;
  border-bottom: 1px dotted #d1d1c9;
}

.phone-numbers-container table.phone-numbers-table th {
  background-color: #f1f1f1;
  border-right: 1px solid #d1d1c9;
  color: #393c3d;
}

.phone-numbers-container table.phone-numbers-table td {
  padding-right: 0;
  min-width: 214px;
  line-height: 16px;
  background-color: #fff;
}

.phone-numbers-container table.phone-numbers-table td:last-child {
  min-width: 0;
  padding-left: 0;
  padding-right: 10px;
}

.phone-numbers-container table.phone-numbers-table tr:first-child th {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

.phone-numbers-container
  table.phone-numbers-table
  tr:first-child
  td:last-child {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.phone-numbers-container table.phone-numbers-table tr:last-child td,
.phone-numbers-container table.phone-numbers-table tr:last-child th {
  border-bottom-width: 0;
}

.phone-numbers-container table.phone-numbers-table tr:last-child th {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

.phone-numbers-container table.phone-numbers-table tr:last-child td:last-child {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

.phone-numbers-container table.phone-numbers-table tr:first-child:last-child td,
.phone-numbers-container
  table.phone-numbers-table
  tr:first-child:last-child
  th {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.phone-numbers-container table.phone-numbers-table span.verified,
.phone-numbers-container table.phone-numbers-table span.unverified {
  margin-right: 10px;
}

.phone-numbers-container table.phone-numbers-table span.verified {
  color: #5bb013;
}

.phone-numbers-container table.phone-numbers-table span.verified span.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}

.phone-numbers-container table.phone-numbers-table tr.verified span.unverified,
.phone-numbers-container table.phone-numbers-table tr.verified a.verify {
  display: none;
}

.phone-numbers-container table.phone-numbers-table tr.unverified span.verified {
  display: none;
}

.phone-numbers-container .no-phone-numbers p {
  margin: 0 !important;
}

.phone-numbers-container.has-phone-numbers ul.phone-numbers-list {
  display: block;
}

.phone-numbers-container.has-phone-numbers .no-phone-numbers {
  display: none;
}

.phone-numbers-container .phone-number-verify-widget {
  display: none;
}

.phone-numbers-container.noCancel a.cancel {
  display: none;
}

.uploadarea-container {
  border: 1px solid #c3c3c3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
}

.uploadarea-container .status {
  height: 0;
  z-index: 3;
  position: relative;
  padding: 0 15px;
  overflow: hidden;
  text-align: left;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: #f2f2f2;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#fff),
    to(#f2f2f2)
  );
  background: -moz-linear-gradient(top, #fff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.9);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.uploadarea-container .status h3 {
  line-height: 45px;
  font-size: 1.5em;
  color: #393c3d;
}

.uploadarea-container .status .processing,
.uploadarea-container .status .done,
.uploadarea-container .status .setup {
  display: none;
}

.uploadarea-container .status img {
  margin-left: 15px;
}

.uploadarea-container .status.uploading,
.uploadarea-container .status.setup,
.uploadarea-container .status.processing,
.uploadarea-container .status.done {
  height: 45px;
}

.uploadarea-container .status.setup div.progress-bar,
.uploadarea-container .status.setup h3,
.uploadarea-container .status.setup .h3 {
  display: none;
}

.uploadarea-container .status.setup .setup {
  display: block;
}

.uploadarea-container .status.processing div.progress-bar,
.uploadarea-container .status.processing h3,
.uploadarea-container .status.processing .h3 {
  display: none;
}

.uploadarea-container .status.processing .processing {
  display: block;
}

.uploadarea-container .status.done div.progress-bar,
.uploadarea-container .status.done h3,
.uploadarea-container .status.done .h3 {
  display: none;
}

.uploadarea-container .status.done .done {
  display: block;
}

.uploadarea-container .uploadarea {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  text-align: center;
  padding: 10px;
}

.uploadarea-container #snapper-uploadarea.uploadarea {
  display: none;
}

.uploadarea-container #single-uploadarea.uploadarea {
  display: none;
}

.uploadarea-container #single-uploadarea.uploadarea input[type="file"] {
  margin-bottom: 20px;
}

.uploadarea-container #single-uploadarea.uploadarea h3 {
  color: #959595;
  font-size: 1.5em;
  text-shadow: 0 1px #fff;
  margin: 20px 0 10px 0;
}

.uploadarea-container #multi-uploadarea.uploadarea {
  height: 190px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  -moz-transition-property: -webkit-box-shadow;
  -o-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.uploadarea-container #multi-uploadarea.uploadarea h3 {
  color: #959595;
  font-size: 1.5em;
  text-shadow: 0 1px #fff;
  margin: -15px;
  padding: 40px;
  height: 140px;
  background: url("../images/uploadarea-background-562ab97a32842b80fc8552793861260d.png")
    center 80px no-repeat;
}

.uploadarea-container #multi-uploadarea.uploadarea.over {
  -webkit-box-shadow: inset 0 0 5px 3px #1d95cb;
  box-shadow: inset 0 0 5px 3px #1d95cb;
}

.uploadarea-container #multi-uploadarea.uploadarea.over h3 {
  -webkit-animation: pulsate 1.5s linear infinite;
  -moz-animation: mozpulsate 1.5s linear infinite;
}

.single .uploadarea {
  text-align: left;
}

.single .uploadarea input[type="file"] {
  font-size: 1.2em;
  width: 650px;
}

div.progress-bar {
  float: right;
  margin: 17px 0;
  width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 10px;
  border: 1px solid #c5c5c5;
  background: #dedede;
  -webkit-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

div.progress-bar div.progress {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border: 1px solid #b0075e;
  height: 10px;
  margin: -1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #e10979;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#f62792),
    to(#e10979)
  );
  background: -moz-linear-gradient(top, #f62792, #e10979);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff62792', endColorstr='#ffe10979', GradientType=0);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.8);
  width: 0;
}

.uploadarea-container.profile {
  width: 340px;
  margin: 0 auto;
}

.uploadarea-container.profile .status.uploading .progress-bar {
  display: none;
}

.uploadarea-container.profile #single-uploadarea.uploadarea {
  height: 296px;
}

.uploadarea-container.profile #single-uploadarea.uploadarea h3 {
  margin-top: 100px;
}

.uploadarea-container.profile
  #single-uploadarea.uploadarea
  #ajax_upload_form.loading {
  height: 40px;
}

.uploadarea-container.profile
  #single-uploadarea.uploadarea
  #ajax_upload_form.loading
  input {
  display: none;
}

.uploadarea-container.profile #snapper-uploadarea.uploadarea {
  padding: 0;
  height: 316px;
}

.uploadarea-container.profile #multi-uploadarea.uploadarea {
  height: 296px;
}

.uploadarea-container.profile #multi-uploadarea.uploadarea h3 {
  height: 246px;
  background-position: center 150px;
  padding-top: 60px;
}

.uploadarea-container.profile #multi-uploadarea.uploadarea.uploaded {
  background-size: cover;
}

.uploadarea-container.profile #multi-uploadarea.uploadarea.uploaded h3 {
  font-weight: bold;
  text-shadow: 0 0 4px black;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
}

.uploadarea-container.profile #multi-uploadarea.uploadarea.uploaded h3:hover {
  opacity: 1;
}

#photo-widget-options {
  margin-top: 10px;
  text-align: center;
}

#photo-widget-options li {
  display: inline-block;
  width: 170px;
  height: 55px;
  cursor: pointer;
}

#photo-widget-options li span.button {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px #fff, 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px #fff, 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center center;
}

#photo-widget-options li span.description {
  display: inline-block;
  width: 100px;
  margin-left: 5px;
  vertical-align: top;
  margin-top: 1px;
  color: #979797;
  text-align: left;
  text-shadow: 0 1px 0 white;
}

#photo-widget-options li.fromwebcam.disable span.description {
  margin-top: 0;
}

#photo-widget-options li.fromwebcam span.button {
  background-image: url("../images/webcam-d9b446339653c8ce24cb0a0e85b5d3b5.png"),
    -webkit-linear-gradient(top, #eee, #e1e1e1);
}

#photo-widget-options li.fromwebcam:hover span.button {
  background-image: url("../images/webcam-glow-43f6ac1e697fe8abb6a49e971516847f.gif"),
    -webkit-linear-gradient(top, #eee, #e1e1e1);
}

#photo-widget-options li.file span.button {
  background-image: url("../images/upload-b9b2b41702c23cf5d5980742fd3bc3a6.png"),
    -webkit-linear-gradient(top, #eee, #e1e1e1);
}

#photo-widget-options li.file:hover span.button {
  background-image: url("../images/upload-arrow-1875d9b1ec2ab4c0fb70900feb1e8cba.gif"),
    -webkit-linear-gradient(top, #eee, #e1e1e1);
}

#photo-widget-options li.file span.description {
  display: none;
}

#photo-widget-options li.file span.description.file {
  display: inline-block;
}

#photo-widget-options li.draganddrop span.button {
  background-image: url("../images/dd-49e897bd6b01b537d77426a5da215489.png"),
    -webkit-linear-gradient(top, #eee, #e1e1e1);
}

#photo-widget-options li.draganddrop span.description {
  display: none;
}

#photo-widget-options li.draganddrop span.description.draganddrop {
  display: inline-block;
}

#verification_options #p4-verifications {
  margin-top: 10px;
  border: 1px solid #d1d1c9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#verification_options #p4-verifications .verification-flow-intro a {
  border: 0;
}

#verification_options #p4-verifications .verification-flow-container {
  margin-top: 0;
}

#verification_options
  #p4-verifications
  .verification-flow-container
  .verification-flow-panels {
  border: 0;
}

.verification-flow-container {
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.verification-flow-container .verification-flow-step {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 16px;
  color: #848484;
}

.verification-flow-container p.verifications-comma-separated {
  font-size: 16px;
  color: #959595;
}

.verification-flow-container p.verifications-comma-separated:first-letter {
  text-transform: capitalize;
}

.verification-flow-container .verification-flow-intro {
  display: none;
}

.verification-flow-container .verification-flow-intro a {
  position: relative;
  border: 1px solid #d2d2d2;
  display: block;
  padding: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #f6f6f6;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#fff),
    to(#f6f6f6)
  );
  background: -moz-linear-gradient(top, #fff, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.verification-flow-container .verification-flow-intro a:hover {
  text-decoration: none;
  background: #fdfdfd;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#fff),
    to(#fdfdfd)
  );
  background: -moz-linear-gradient(top, #fff, #fdfdfd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffdfdfd', GradientType=0);
}

.verification-flow-container .verification-flow-intro a:active {
  background: #fafafa;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#fff),
    to(#fafafa)
  );
  background: -moz-linear-gradient(top, #fff, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffafafa', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 0 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.verification-flow-container .verification-flow-intro a span.arrow {
  float: right;
  position: absolute;
  background: url("../images/rarow.png") no-repeat;
  right: 15px;
  top: 23px;
  width: 19px;
  height: 27px;
}

.verification-flow-container .verification-flow-complete {
  display: none;
  position: relative;
}

.verification-flow-container .verification-flow-complete .checkmark {
  width: 24px;
  height: 24px;
  top: 20px;
  right: 15px;
  position: absolute;
  display: block;
  background: url("../images/tickgr.png") no-repeat;
}

.verification-flow-container .verification-flow-panel {
  display: none;
}

.verification-flow-container
  .verification-flow-panel
  .verification-flow-header
  h3 {
  float: left;
}

.verification-flow-container
  .verification-flow-panel
  .verification-flow-header
  .addendum {
  float: left;
  margin-left: 10px;
  line-height: 24px;
  color: #888;
}

.verification-flow-container
  .verification-flow-panel.profile_photo
  .photo-widget {
  margin-bottom: 5px;
}

.verification-flow-container
  .verification-flow-panel.phone_verification
  .phone-numbers-container {
  margin: 0;
}

.verification-flow-container
  .verification-flow-panel.basic_profile
  p.suggestion {
  margin-bottom: 10px;
  color: #888;
  clear: both;
}

.verification-flow-container .verification-flow-panel.basic_profile textarea {
  width: 98%;
  min-height: 50px;
}

.verification-flow-container .verification-flow-panel.real_name.loading {
  min-height: 200px;
  background: url("../images/spinner-9ba46576baf7d2debad913a1cede49c4.gif")
    no-repeat center center;
}

.verification-flow-container .verification-flow-panel.full_profile .criteria {
  margin-bottom: 20px;
}

.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  p.suggestion {
  color: #bbb;
}

.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  label {
  font-weight: bold;
  font-size: 1.2em;
}

.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  label
  input,
.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  label
  select {
  float: right;
}

.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  label
  input {
  margin-top: -3px;
}

.verification-flow-container
  .verification-flow-panel.full_profile
  .criteria
  label
  select {
  margin-left: 3px;
  font-size: 1.1em;
}

.verification-flow-container .button-bar {
  margin-top: 5px;
}

.verification-flow-container .button-bar span.loading {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  zoom: 1;
  background: url("../images/spinner-9ba46576baf7d2debad913a1cede49c4.gif")
    no-repeat;
  display: none;
}

.verification-flow-container.loading span.loading {
  display: inline-block;
}

.verification-flow-container.required .verification-flow-intro {
  border: 1px solid #e00;
}

.btnGroup .btn {
  margin-right: 25px;
  min-width: 200px;
}

.not-there,
.did-resend {
  display: none;
}

#lwlb_contact .verification-flow-panels > .content-row {
  border-top: 0;
}

.spinner.pink-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: none;
  left: 0;
  top: 0;
  background: url("../images/pink-spinner-22a8e66f576acd28f9a2f45f990d8972.gif")
    50% 50% rgba(255, 255, 255, 0.75) no-repeat;
  z-index: 100;
  display: block;
}

.spinner.pink-spinner.hidden {
  display: none;
}

.preview-bar h4 {
  color: white;
  line-height: 32px;
}

.preview-bar h4.steps {
  font-weight: 300;
}

.preview-bar .center {
  text-align: center;
}

.preview-bar strong {
  text-transform: uppercase;
}

.listing-img {
  overflow: hidden;
  padding-bottom: 67%;
}

.target-control {
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.listing-img .target-control {
  transition: none !important;
}

.target-control .icon {
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.target-prev {
  left: 0;
  width: 25%;
}

.target-prev .icon {
  left: 10px;
}

.target-next {
  right: 0;
  width: 25%;
}

.target-next .icon {
  right: 10px;
}

.listing-img .target-control {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.listing-img:hover .target-control {
  opacity: 0.8;
}

.listing-img:hover .target-control:hover {
  opacity: 1;
}

.debug-string {
  height: 150px;
  overflow: scroll;
}

.infoBox {
  padding: 10px;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.infoBox:before {
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  border-width: 16px;
  border-style: solid;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -32px;
  margin: 0 0 0 114px;
}

.infoBox:after {
  border-color: #fff transparent transparent transparent;
  border-width: 15px;
  border-style: solid;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -30px;
  margin: 0 0 0 115px;
}

.loading .listing-name,
.loading .listing-review-count,
.loading .wish_list_button,
.loading .instant-book-button {
  display: none;
}

.loading .listing-img .img-border,
.loading .listing-img .target-next,
.loading .listing-img .target-prev {
  display: none;
}

.listing-link {
  display: block;
}

.star-rating .foreground {
  position: absolute;
}

.listing-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.expandable .expandable-content {
  position: relative;
  height: 7em;
  overflow: hidden;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}

.expandable .expandable-content.expandable-content-long {
  height: 14em;
}

.expandable .expandable-content-full {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  -webkit-transition: height 0.2s, opacity 0.2s;
  -moz-transition: height 0.2s, opacity 0.2s;
  -o-transition: height 0.2s, opacity 0.2s;
  transition: height 0.2s, opacity 0.2s;
}

.expandable .expandable-indicator {
  position: absolute;
  width: 100%;
  height: 3em;
  bottom: 0;
  background: rgba(245, 245, 245, 0);
  background: -moz-linear-gradient(
    top,
    rgba(245, 245, 245, 0) 0,
    rgba(245, 245, 245, 0.9) 50%,
    rgba(245, 245, 245, 0.9) 50%,
    #f5f5f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(245, 245, 245, 0)),
    color-stop(50%, rgba(245, 245, 245, 0.9)),
    color-stop(50%, rgba(245, 245, 245, 0.9)),
    color-stop(100%, #f5f5f5)
  );
  background: -o-linear-gradient(
    top,
    rgba(245, 245, 245, 0) 0,
    rgba(245, 245, 245, 0.9) 50%,
    rgba(245, 245, 245, 0.9) 50%,
    #f5f5f5 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(245, 245, 245, 0) 0,
    rgba(245, 245, 245, 0.9) 50%,
    rgba(245, 245, 245, 0.9) 50%,
    #f5f5f5 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f5f5f5', endColorstr='#fff5f5f5', GradientType=0);
  background: linear-gradient(
    top,
    rgba(245, 245, 245, 0) 0,
    rgba(245, 245, 245, 0.9) 50%,
    rgba(245, 245, 245, 0.9) 50%,
    #f5f5f5 100%
  );
}

.expandable .expandable-indicator.expandable-indicator-light {
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9) 50%,
    #fff 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.9)),
    color-stop(50%, rgba(255, 255, 255, 0.9)),
    color-stop(100%, #fff)
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9) 50%,
    #fff 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9) 50%,
    #fff 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9) 50%,
    #fff 100%
  );
}

.expandable.expanded .expandable-indicator,
.expandable.expanded .expandable-trigger-more,
.expandable.expanded .expandable-content-summary {
  display: none;
}

.expandable.expanded .expandable-content,
.expandable.expanded .expandable-content-long {
  height: auto;
}

.expandable.expanded .expandable-content-full {
  opacity: 1;
  visibility: visible;
  z-index: auto;
  position: relative;
}

.share-title {
  margin-right: 8px;
}

.share-triggers {
  margin-right: -8px;
}

.share-triggers .qzone-logo {
  background: url("../images/p3_sprite-49be4793d97ade0afa144d816132c823.png")
    no-repeat 0 0;
  display: inline-block;
  vertical-align: bottom;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml; utf8, <svg xmlns='http: //www.w3.org/2000/svg'>\a <filter id='grayscale'><feColorMatrix type='matrix' values='0.3333\a 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/>\a </filter></svg>#grayscale");
}

.share-triggers .qzone-logo {
  height: 20px;
  width: 20px;
  background-position: 0 -208px;
}

.share-triggers .social-icon-size {
  font-size: 16px;
}

.share-btn {
  min-width: 16px;
  margin-right: 8px;
}

.share-btn:hover,
.share-btn:active,
.share-btn:focus {
  text-decoration: none;
  outline: 0;
}

.more-btn {
  cursor: pointer;
}

.fancy-dates-message-container {
  background: rgba(255, 180, 0, 0.1);
  min-height: 84px;
}

.fancy-dates-message-container .illustration-container {
  background-repeat: no-repeat;
  background-image: url("../images/illustration-girl-00a6cb8e37c9c4500ce0a7c366e66645.png");
  width: 64px;
  height: 84px;
  background-position: right bottom;
  width: 100%;
  height: auto;
}

@media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6 / 2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
  .fancy-dates-message-container .illustration-container {
    background-image: url("../images/illustration-girl@2x-ee9a017664fa7ed01c6dd177070364ef.png");
    background-size: 64px 84px;
  }
}

.fancy-dates-message-container .illustration-container .text {
  padding: 10px 15px;
  width: 80%;
}

.book-it-btn-experiment-lima {
  background-color: #8ce071;
  border-bottom-color: #68d645;
  border-color: #8ce071;
  color: #fff;
}

.book-it-btn-experiment-babu {
  background-color: #00d1c1;
  border-bottom-color: #009b90;
  border-color: #00d1c1;
  color: #fff;
}

.book-it-btn-experiment-kazan {
  background-color: #007a87;
  border-bottom-color: #004a51;
  border-color: #007a87;
  color: #fff;
}

.logo_dark {
  display: block;
}
.logo_white {
  display: none;
}
.makent-header .nav li a {
  color: #000;
}
/* #room {
  margin-top: 40px;
} */
